@model AvsarGame.API.Models.CategoryGameModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <main class="Main">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <h3 class="title-primary">@Model.Category.Name</h3>
                </div>
                <div class="col-6">
                    <p class="text-right page-info">
                        GB alım satımları TRADE ile yapılmaktadır.
                    </p>
                </div>
            </div>
            <div class="row section" style=" display: none;">
                <div class="col-12">
                    <div class="banner-container">
                        <img class="banner-img" src="https://cdn2-www.gamerevolution.com/assets/uploads/2012/03/file_2409_ME3.jpg" alt="">
                        <div class="notification notification-bottom">
                            20 Mart 2020'de Sizlerle!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section">
                <div class="order-lg-1 order-2 col-12 col-lg-3 recommended side">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-12">
                            <img class="recommended-img mt-3 mb-5" src="/Uploads/@Model.Category.ImageUrl" alt="">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-12">
                            <div class="title-secondary led led-below">Açıklama</div>
                            <div class="recommended-text pt-3">
                                <p>
                                    @Model.Category.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-lg-2 order-1 product-container">
                    @foreach (var game in Model.Games)
                    {
                        <div class="row product">
                            <div class="col-md-3 col-sm-5 col-12">
                                <div class="product-img-container">
                                    <img src="/Uploads/@game.ImageUrl" alt="" class="product-img">
                                    <div class="notification notification-top-left">
                                        @*%20 indirim*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-7 col-12 d-flex flex-column product-info">
                                <div class="row h-100">
                                    <div class="col-12">
                                        <h4 class="title-secondary led led-below">
                                            @game.Name
                                        </h4>
                                    </div>
                                    <div class="col-12">
                                        <p class="product-text">Folk Village / En az 20 m</p>
                                        <p class="product-text">işlemlerimiz TRADE ile yapılmaktadır.</p>
                                    </div>
                                </div>
                                <div class="row h-100">
                                    <div class="col-12 col-lg-6 d-flex justify-content-start justify-content-lg-between start product-trade">
                                        <div class="product-sell mr-4">
                                            <div class="trade-icon"></div>
                                            <span class="trade-text">SATIŞ:</span>
                                            <span class="trade-price">@game.SellPrice</span>
                                        </div>
                                        <div class="product-buy">
                                            <div class="trade-icon"></div>
                                            <span class="trade-text">ALIŞ:</span>
                                            <span class="trade-price">@game.BuyPrice</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-end h-100">
                                    <div class="col-12 d-flex justify-content-start justify-content-sm-end mt-4">
                                        @*<button id ="sell" class="button btn-outline mr-4">Satış Yap</button>*@
                                        <button data-model="@(Newtonsoft.Json.JsonConvert.SerializeObject(game))" id ="buy" class="button btn-blue">Satın Al</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="amountModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="tab-content">
                <div class="tab-pane fade terms-link"  role="tabpanel">
                    <!--Body-->
                    <div class="modal-body">
                        <form class="needs-validation" novalidate>
                            <div class="form-row form-group">
                                <div class="col-12">
                                    <label class="label-white" data-error="wrong" data-success="right"
                                           for="current-email">
                                        Miktar
                                    </label>
                                    <input type="email" id="amount" class="form-control"
                                           placeholder="Miktar" required />
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-12">
                                    <button id="amountOk" class="button btn-blue w-100" type="submit">
                                        Tamam
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-close">Kapat</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".product-container #buy").click(function() {
            var model = JSON.parse($(this).attr('data-model'));

            $.ajax({
                type: 'post',
                url: '/Sepetim/AddChart',
                content: "application/json; charset=utf-8",
                dataType: 'json',
                data: model,
                success: function (res) {
                    if (res.success) {
                        $("#chart")[0].classList.remove("passive");
                        $("#chart")[0].getElementsByTagName('a')[0].classList.add("chartCss");

                        $("#chartSpan")[0].innerHTML = '(' + res.count + ')';
                        Command: toastr["success"]("Ürün sepete eklendi");
                    } else {
                        Command: toastr["error"]("Ürün sepete eklenemedi");
                    }
                },
                error: function (err) {
                    Command: toastr["error"]("Ürün sepete eklenemedi");
                }
            });
        });
    });
 
</script>