@using AvsarGame.Core
@using AvsarGame.Portal.Core
@model AvsarGame.API.Models.GameModel
@{
    ViewData["Title"] = "GameDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="breadcrumb-wrapper">
        <img class="breadcrumb-img" style="-webkit-user-select: none;margin: auto;" src="~/assest/img/m106.png" />
        <div class="breadcrumb">
            <a href="/">anasayfa</a>
            <a href="/@Model.CategoryName" class="active">@Model.CategoryName</a>
            <a href="javascript:void(0)" class="active">@Model.Name</a>
        </div>
    </div>
</div>
<main class="Main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h3 class="title-primary">@Model.Name</h3>
            </div>

        </div>

        <div class="row section">
            <div class="col-12 col-lg-3 side">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <img class="recommended-img  mb-5" src="@PageHelper.GetImageUrl(Model.ImageUrl,ImageFolder.MEDIUM)" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="title-secondary led led-before">
                            @Model.Name
                        </div>
                    </div>
                    <div class="col-12" style="color: white">
                        @Html.Raw(Model.Description)
                    </div>
                    <div class="col-12" style="float: right">
                        <div class="col-12 d-flex justify-content-start justify-content-sm-end mt-4">
                            @if (Model.SellButtonEnabled)
                            {
                            <a class="button btn-blue" href="/satis-yap/@Model.SeoName">Satın Al</a>
                            }
                            @if (Model.BuyButtonEnabled)
                            {
                                <button data-model="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model))" id="bought" class="button btn-outline mr-4">Satış Yap</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $("#bought").click(function () {
            var model = JSON.parse($(this).attr('data-model'));

            $.ajax({
                type: 'post',
                url: '/Sepetim/AddChart',
                content: "application/json; charset=utf-8",
                dataType: 'json',
                data: model,
                success: function (res) {
                    if (res.success) {
                        $("#chart")[0].classList.remove("passive");
                        $("#chart")[0].getElementsByTagName('a')[0].classList.add("chartCss");

                        $("#chartSpan")[0].innerHTML = '(' + res.count + ')';
                        Command: toastr["success"]("Ürün sepete eklendi");
                    } else {
                        Command: toastr["error"]("Ürün sepete eklenemedi");
                    }
                },
                error: function (err) {
                    Command: toastr["error"]("Ürün sepete eklenemedi");
                }
            });
        });
    });

</script>