@using AvsarGame.Core
@using AvsarGame.Portal.Core
@model AvsarGame.Portal.Models.HomeModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="Main">
    <div class="hero section">
        <!-- <div class="hero-filter"></div> -->
        <div id="hero-slider" class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                @foreach (var item in Model.Announcements) {
                    <div class="swiper-slide">
                        <div class="slide-container container">
                            <div class="slide-text led led-before">
                                <p>
                                    @item.Title
                                </p>
                                <p>
                                    @item.Content
                                </p>
                            </div>
                        </div>
                        <img src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.EXTRALARGE)" alt=""/>
                    </div>
                }
            </div>
            <!-- If we need pagination -->

            <div class="swiper-pagination container"></div>
        </div>
    </div>
    <div class="section container tab-products">
        <div class="row align-items-center">
            <div class="col-12 d-flex align-items-center">
                <div class=" title-secondary led led-before m-0">Item & Skin</div>
                @*<a class="d-block ml-auto text-right" href="games.html">Tümünü Gör</a>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-primary">
                    <div class="tab-content" id="pills-tabContent">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-knight-item" data-toggle="pill" href="#knight-item"
                                   role="tab" aria-controls="knight-item" aria-selected="true">
                                    Knight Online
                                    Item
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-knight-ring" data-toggle="pill" href="#knight-ring"
                                   role="tab" aria-controls="knight-ring" aria-selected="false">
                                    Knight Online
                                    Cyber Ring
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" id="pills-cs-go" data-toggle="pill" href="#cs-go"
                                   role="tab" aria-controls="cs-go" aria-selected="false">
                                    CS-GO
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-metin2-item" data-toggle="pill" href="#metin2-item"
                                   role="tab" aria-controls="metin2-item" aria-selected="false">
                                    Metin-2 Item
                                </a>
                            </li>*@
                        </ul>
                        <div id="content" class="tab-content" role="tablist">
                            <div id="knight-item" class="tab-pane fade show active" role="tabpanel">
                                <div class="card-header" role="tab" id="knight-item-title">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapse-knight-item"
                                           data-parent="#content" aria-expanded="true"
                                           aria-controls="collapse-knight-item">
                                            Knight Online Item
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-knight-item" class="collapse" role="tabpanel"
                                     aria-labelledby="knight-item-title">
                                    <div class="card-body">
                                        <div class="row showcase">
                                            @foreach (var item in Model.KnightItems)
                                            {
                                                <a href="/ilan/knight-item/detay/@item.Id">
                                                    <div class="showcase-item-wrapper">
                                                        <div class="showcase-item">
                                                            <div class="showcase-img"
                                                                 style="background-image: url(@PageHelper.GetImageUrl(item.FileUrls[0], ImageFolder.MAINADD))">
                                                            </div>
                                                            <div class="showcase-info">
                                                                <p class="name">@item.Title</p>
                                                                <p class="price">@item.Price TL</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="knight-ring" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                <div class="card-header" role="tab" id="knight-ring-title">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse-knight-ring"
                                           data-parent="#content" aria-expanded="false"
                                           aria-controls="collapse-knight-ring">
                                            Knight Online Ring
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-knight-ring" class="collapse" role="tabpanel"
                                     aria-labelledby="knight-ring-title">
                                    <div class="card-body">
                                        <div class="row showcase">
                                            @foreach (var item in Model.KnightCyberItems)
                                            {
                                                <a href="/ilan/knight-cyber-ring/detay/@item.Id">
                                                    <div class="showcase-item-wrapper">
                                                        <div class="showcase-item">
                                                            <div class="showcase-img"
                                                                 style="background-image: url(@PageHelper.GetImageUrl(item.FileUrls[0], ImageFolder.MAINADD))">
                                                            </div>
                                                            <div class="showcase-info">
                                                                <p class="name">@item.Title</p>
                                                                <p class="price">@item.Price TL</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cs-go" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                <div class="card-header" role="tab" id="cs-go-title">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#cs-go"
                                           data-parent="#content" aria-expanded="false"
                                           aria-controls="collapse-cs-go">
                                            Knight Online Ring
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-cs-go" class="collapse" role="tabpanel"
                                     aria-labelledby="knight-ring-title">
                                    <div class="card-body">
                                        <div class="row showcase">
                                            items
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="metin2-item" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                <div class="card-header" role="tab" id="metin2-item-title">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#metin2-item"
                                           data-parent="#content" aria-expanded="false"
                                           aria-controls="collapse-metin2-item">
                                            Metin2 Item
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-metin2-item" class="collapse" role="tabpanel"
                                     aria-labelledby="metin2-item-title">
                                    <div class="card-body">
                                        <div class="row showcase">
                                            items metin2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section container news-section">
        <div class="row mb-3">
            <div class="col-lg-11 col-md-10 col-9">
                <h3 class="title-secondary led led-before">Popüler Oyunlar</h3>
            </div>
        </div>
        <div id="news-slider" class="">
            <!-- Additional required wrapper -->
            <div class="showcase name-inside">
                <!-- Slides -->
                <div class="row">
                    @foreach (var item in Model.Categories) {
                        <div class="showcase-item-wrapper">
                            <div class=" showcase-item">
                                <a href="/oyun/@item.SeoName">
                                    <img class="showcase-img"  data-src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.MEDIUM)" alt=""/>
                                    <div class="showcase-info">
                                        <p class="name">@item.Name</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="section container best-seller-section">
        <div class="row mb-3">
            <div class="col-lg-11 col-md-10 col-9">
                <h3 class="title-secondary led led-before">En Çok Satan Oyunlar</h3>
            </div>
        </div>
        <div id="best-seller-slider" class=" ">
            <!-- Additional required wrapper -->
            <div class="showcase name-inside">
                <div class="row">
                    @foreach (var item in Model.NewGames)
                    {
                        <div class="showcase-item-wrapper">
                            <div class=" showcase-item">
                                <a href="/oyun/@item.CategorySeoName/@item.SeoName">
                                    <img class="showcase-img" data-src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.MEDIUM)" alt="" />
                                    <div class="showcase-info">
                                        <p class="name">@item.Name</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(window).scroll(function() {
        $.each($('img'), function() {
            if ( $(this).attr('data-src') && $(this).offset().top < ($(window).scrollTop() + $(window).height() + 100) ) {
                var source = $(this).data('src');
                $(this).attr('src', source);
                $(this).removeAttr('data-src');
            }
        })
    })

</script>