@using AvsarGame.Core
@using AvsarGame.Portal.Core
@model AvsarGame.Portal.Models.HomeModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="Main">
<div class="hero section">
    <!-- <div class="hero-filter"></div> -->
    <div id="hero-slider" class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            @foreach (var item in Model.Announcements) {
                <div class="swiper-slide">
                    <div class="slide-container container">
                        <div class="slide-text led led-before">
                            <p>
                                @item.Title
                            </p>
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </div>
                    <img src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.EXTRALARGE)" alt=""/>
                </div>
            }
        </div>
        <!-- If we need pagination -->

        <div class="swiper-pagination container"></div>
    </div>
</div>

<div class="section container tab-products">
<div class="row align-items-center">
    <div class="col-12 d-flex align-items-center">
        <div class=" title-secondary led led-before m-0">Item & Skin</div>
        <a class="d-block ml-auto text-right" href="games.html">Tümünü Gör</a>
    </div>
</div>
<div class="row">
<div class="col-12">
<div class="tab-primary">
<div class="tab-content" id="pills-tabContent">
<ul id="tabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link  active" id="pills-dota2" data-toggle="pill" href="#dota2"
           role="tab" aria-controls="dota2" aria-selected="true">
            DOTA 2
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-knight-item" data-toggle="pill" href="#knight-item"
           role="tab" aria-controls="knight-item" aria-selected="false">
            Knight Online
            Item
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-knight-ring" data-toggle="pill" href="#knight-ring"
           role="tab" aria-controls="knight-ring" aria-selected="false">
            Knight Online
            Ring
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-cs-go" data-toggle="pill" href="#cs-go" role="tab"
           aria-controls="cs-go" aria-selected="false">
            CS:GO
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-vgo" data-toggle="pill" href="#vgo" role="tab"
           aria-controls="vgo" aria-selected="false">
            VGO
        </a>
    </li>

</ul>

<div id="content" class="tab-content" role="tablist">
<div class="tab-pane fade  show active" id="dota2" role="tabpanel"
     aria-labelledby="pills-dota2">
    <div class="card-header" role="tab" id="dota2-title">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapse-dota2" data-parent="#content"
               aria-expanded="true" aria-controls="collapse-dota2">
                DOTA 2
            </a>
        </h5>
    </div>
    <div id="collapse-dota2" class="collapse" role="tabpanel"
         aria-labelledby="dota2-title">
        <div class="card-body">
            <div class="row showcase">
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Corrupted Armor of the Winter Rose</p>
                            <p class="price">7.08 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Corrupted Armor of the Winter Rose</p>
                            <p class="price">7.08 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Corrupted Armor of the Winter Rose</p>
                            <p class="price">7.08 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Encore</p>
                            <p class="price">0.18 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Inscribed Armor of Unblinking Eternity</p>
                            <p class="price">4.09 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Pit Boss Prospector Helm</p>
                            <p class="price">0.92 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="notification notification-top">%20 İndirim</div>
                        <div class="showcase-info">
                            <p class="name">Kindred of the Cursed Spear</p>
                            <p class="price">0.79 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">The Song of Swiftguard - Shield</p>
                            <p class="price">0.79 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Legacy of a Lost Age - Belt</p>
                            <p class="price">0.24 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="showcase-info">
                            <p class="name">Mandate of the Nameless - Wings</p>
                            <p class="price">0.18 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="notification notification-top">%20 İndirim</div>
                        <div class="showcase-info">
                            <p class="name">Halo 4</p>
                            <p class="price-before">100 TL</p>
                            <p class="price">80 TL</p>
                        </div>
                    </div>
                </div>
                <div class="showcase-item-wrapper">
                    <div class="showcase-item">
                        <div class="showcase-img"
                             style="background-image: url('https://source.unsplash.com/random/200x270')">
                        </div>
                        <div class="notification notification-top">%20 İndirim</div>
                        <div class="showcase-info">
                            <p class="name">Halo 4</p>
                            <p class="price-before">100 TL</p>
                            <p class="price">80 TL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="knight-item" class="tab-pane fade" role="tabpanel">
    <div class="card-header" role="tab" id="knight-item-title">
        <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapse-knight-item"
               data-parent="#content" aria-expanded="true"
               aria-controls="collapse-knight-item">

                Knight Online Item

            </a>
        </h5>
    </div>
    <div id="collapse-knight-item" class="collapse" role="tabpanel"
         aria-labelledby="knight-item-title">
        <div class="card-body">
            <p class="text-white">
                Knight Online Item Content
            </p>
        </div>
    </div>
</div>

<div id="knight-ring" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
    <div class="card-header" role="tab" id="knight-ring-title">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse-knight-ring"
               data-parent="#content" aria-expanded="false"
               aria-controls="collapse-knight-ring">
                Knight Online Ring
            </a>
        </h5>
    </div>
    <div id="collapse-knight-ring" class="collapse" role="tabpanel"
         aria-labelledby="knight-ring-title">
        <div class="card-body">
            <p class="text-white">
                Knight Online Ring Content
            </p>
        </div>
    </div>
</div>

<div id="cs-go" class="tab-pane fade" role="tabpanel">
    <div class="card-header" role="tab" id="cs-go-title">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse-cs-go"
               data-parent="#content" aria-expanded="false"
               aria-controls="collapse-cs-go">
                CS:GO
            </a>
        </h5>
    </div>
    <div id="collapse-cs-go" class="collapse" role="tabpanel"
         aria-labelledby="cs-go-title">
        <div class="card-body">
            <p class="text-white">
                CS:GO Content
            </p>
        </div>
    </div>
</div>
<div id="vgo" class="tab-pane fade" role="tabpanel">
    <div class="card-header" role="tab" id="vgo-title">
        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapse-vgo"
               data-parent="#content" aria-expanded="false"
               aria-controls="collapse-vgo">
                VGO
            </a>
        </h5>
    </div>
    <div id="collapse-vgo" class="collapse" role="tabpanel" aria-labelledby="vgo-title">
        <div class="card-body">
            <p class="text-white">
                VGO Content
            </p>
        </div>
    </div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<div class="section container news-section">
    <div class="row mb-3">
        <div class="col-lg-11 col-md-10 col-9">
            <h3 class="title-secondary led led-before">Oyunlar</h3>
        </div>
    </div>
    <div id="news-slider" class="">
        <!-- Additional required wrapper -->
        <div class="showcase">
            <!-- Slides -->
            <div class="row">
                @foreach (var item in Model.Categories) {
                    <div class="showcase-item-wrapper">
                        <div class=" showcase-item">
                            <a href="/oyun/@item.SeoName">
                                <img class="showcase-img" src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.MEDIUM)" alt=""/>
                                <div class="showcase-info">
                                    @*<label class="name">@item.Name</label>
                    <label class="name" style="float: right; cursor: pointer;">
                        <a href="/oyun/@item.SeoName">Fiyatlara bak</a>
                    </label>*@
                                    @* <div class="showcase-info">
                                    <p class="name">@item.Name</p>
                                </div> *@
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="section container best-seller-section">
    <div class="row mb-3">
        <div class="col-lg-11 col-md-10 col-9">
            <h3 class="title-secondary led led-before">En Çok Satan Oyunlar</h3>
        </div>
    </div>
    <div id="best-seller-slider" class=" ">
        <!-- Additional required wrapper -->
        <div class="showcase">
            <div class="row">
                @foreach (var item in Model.NewGames.Take(12)) {
                    <div class="showcase-item-wrapper">
                        <div class="showcase-item">
                            <img class="showcase-img" src="@PageHelper.GetImageUrl(item.ImageUrl, ImageFolder.MEDIUM)" alt=""/>
                            @* <div class="showcase-info">
                            <p class="name">@item.Name</p>
                            <p class="price">@item.SellPrice TL</p>
                        </div> *@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</main>