@model AvsarGame.Portal.Models.HomeModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="Main">
    <div class="hero section">
        <!-- <div class="hero-filter"></div> -->
        <div id="hero-slider" class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                @foreach (var item in Model.Announcements) {
                    <div class="swiper-slide">
                        <div class="slide-container container">
                            <div class="slide-text led led-before">
                                <p>
                                    @item.Title
                                </p>
                                <p>
                                    @item.Content
                                </p>
                            </div>
                        </div>
                        <img src="/Uploads/@item.ImageUrl" alt=""/>
                    </div>
                }
            </div>
            <!-- If we need pagination -->

            <div class="swiper-pagination container"></div>
        </div>
    </div>
    <div class="section container news-section">
        <div class="row mb-3">
            <div class="col-lg-11 col-md-10 col-9">
                <h3 class="title-secondary led led-before">Oyunlar</h3>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div id="news-slider" class=" swiper-container has-arrows">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper showcase">
                <!-- Slides -->
                @foreach (var item in Model.Categories)
                {
                    <div class="swiper-slide showcase-item">
                        <img class="showcase-img" src="~/Uploads/@item.ImageUrl" alt="" />
                        <div class="showcase-info">
                            <label class="name">@item.Name</label>
                            <label class="name" style="float: right;cursor: pointer;"><a href="/oyun/@item.SeoName">Fiyatlara bak</a></label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="section container best-seller-section">
        <div class="row mb-3">
            <div class="col-lg-11 col-md-10 col-9">
                <h3 class="title-secondary led led-before">En Çok Satan Oyunlar</h3>
            </div>
            <div class="col-lg-1 col-md-2 col-3">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div id="best-seller-slider" class=" swiper-container has-arrows">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper showcase">
                @foreach (var item in Model.NewGames)
                {
                    <div class="swiper-slide showcase-item">
                        <img class="showcase-img" src="/Uploads/@item.ImageUrl" alt="" />
                        <div class="showcase-info">
                            <p class="name">@item.Name</p>
                            <p class="price">@item.SellPrice TL</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>