@using AvsarGame.Portal.Core
@model AvsarGame.Portal.Models.GamePageModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Oyunlar</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="container">
                    <button type="button" style="margin-bottom: 10px" class="btn btn-success" data-toggle="modal" data-target="#game">
                        Yeni Oyun
                    </button>
                </div>
                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Alış Fiyatı</th>
                            <th>Satış Fiyatı</th>
                            <th>Açıklama</th>
                            <th>Resim</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Games != null && Model.Games.Count > 0) {
                            @foreach (var item in Model.Games) {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.BuyPrice</td>
                                    <td>@item.SellPrice</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <img style="width: 100px; height: 100px" src="/Uploads/@item.ImageUrl"/>
                                    </td>
                                    <td>

                                        <button class="btn btn-primary" data-toggle="modal" data-target="#@PageHelper.GetModalId("gam",item.Id)">
                                            Düzenle
                                        </button>
                                        <button id="delete" data-id="@item.Id" class="btn btn-danger">Sil</button>
                                    </td>
                                </tr>
                                <div class="modal fade" id="@PageHelper.GetModalId("gam",item.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title" id="exampleModalLabel">Yeni Kategori</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label>Kategori Adı</label>
                                                        <select id="CategoryId" class="form-control">
                                                            <option value="@item.CategoryId">@item.CategoryName</option>
                                                            @foreach (var game in Model.Categories)
                                                            {
                                                                <option value="@game.Id">@game.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Oyun Adı</label>
                                                        <input id="Name" type="text" class="form-control" value="@item.Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Alış Fiyatı</label>
                                                        <input id="BuyPrice" type="text" class="form-control" value="@item.BuyPrice">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Satış Fiyatı</label>
                                                        <input id="SellPrice" type="text" class="form-control" value="@item.SellPrice">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Açıklama</label>
                                                        <textarea type="text" id="Description" class="form-control">@item.Description</textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <img style="width: 100px" id="imageUrl" src="/Uploads/@item.ImageUrl" />
                                                        <label>Resim</label>
                                                        <input type="file" id="Image" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                    @*<button>Kaydet</button>*@
                                                    <input type="button" id="update" data-id="@item.Id" class="btn btn-success" value="kaydet" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                 </div>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="game" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Kategori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Kategori Adı</label>
                        <select id="CategoryId" class="form-control">
                            @foreach (var game in Model.Categories) {
                                <option value="@game.Id">@game.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Oyun Adı</label>
                        <input id="Name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Alış Fiyatı</label>
                        <input id="BuyPrice" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Satış Fiyatı</label>
                        <input id="SellPrice" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea type="text" id="Description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Resim</label>
                        <input type="file" id="Image" class="form-control">
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    @*<button>Kaydet</button>*@
                    <input type="button" id="save" class="btn btn-success" value="kaydet"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#save").click(function(e) {
            var model = new FormData(); // you can consider this as 'data bag'
            model.append('Image', $('#Image')[0].files[0]);
            model.append('Name', $('#Name').val());
            model.append('Description', $('#Description').val());
            model.append('ImageUrl', $('#imageUrl').val());
            model.append('CategoryId', $('#CategoryId').val());
            model.append('BuyPrice', $('#BuyPrice').val());
            model.append('SellPrice', $('#SellPrice').val());

            $.ajax({
                type: 'post',
                url: '/Admin/Game/Save',
                processData: false,
                contentType: false,
                data: model,
                success: function(response) {
                    swal("Basarili!", "Kayıt Eklendi", "success");
                    setTimeout(function(){ location.reload() }, 1000);
                },
                error: function(err) {
                    alert("Bir Hata oluştu");
                }
            });
        });

        $(".justify-content-center #update").click(function(e) {
            var model = new FormData(); // you can consider this as 'data bag'
            model.append('Image', this.parentElement.parentElement.getElementsByTagName("input")[3].files[0]);
            model.append('Name', $('#Name').val());
            model.append('Description', $('#Description').val());
            model.append('ImageUrl', $('#imageUrl').val());
            model.append('CategoryId', $('#CategoryId').val());
            model.append('BuyPrice', $('#BuyPrice').val());
            model.append('SellPrice', $('#SellPrice').val());
            model.append('Id', $(this).attr('data-id'));

            $.ajax({
                type: 'post',
                url: '/Admin/Game/Save',
                processData: false,
                contentType: false,
                data: model,
                success: function(response) {
                    swal("Basarili!", "Kayıt Eklendi", "success");
                    setTimeout(function(){ location.reload() }, 1000);
                },
                error: function(err) {
                    alert("Bir Hata oluştu");
                }
            });
        });

        $("td #delete").click(function() {
            var id = $(this).attr('data-id');
            var btn = this;
            swal({
                    title: "Kaydı silmek istediginizden emin misiniz?",
                    //  text: "Deze actie is niet meer te herstellen",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "evet",
                    cancelButtonText: "Hayir",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function(isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: '/Admin/game/Delete',
                            content: "application/json; charset=utf-8",
                            data: { id: id },
                            dataType: 'json',
                            success: function(res) {
                                if (res) {
                                    swal("Basarili!", "Kayıt silindi", "success");
                                    location.reload();
                                }
                            }
                        });
                    } else {
                        swal.close();
                    }
                });
        });

    });
</script>