@using System.ComponentModel
@using AvsarGame.Core
@using AvsarGame.Portal.Core
@model AvsarGame.API.Models.UserProfilDetailModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-body div {
        margin-bottom: 2px !important
    }

    .modal-body input {
        margin-bottom: 2px !important
    }
</style>


<div class="page-wrapper">
    <main class="Main">
        <div style="margin-top: 50px"></div>
        <div class="container">
            <div class="row section profile-section">
                <div class=" col-12 col-lg-3 side">
                    <div class="row">
                        <div class="col-12">
                            <div class="nav flex-lg-column flex-row pb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="payment-tab" data-toggle="pill" href="#payment" role="tab" aria-controls="payment" aria-selected="true">Bakiye Ve Ödeme Bildirme</a>

                                <a class="nav-link" data-id="@Model.Balance.UserId" id="notifications-tab" data-toggle="pill" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Bildirimlerim (<span style="color: blue">@Model.NotificationCount</span>)</a>

                                <a class="nav-link" id="orders-tab" data-toggle="pill" href="#orders" role="tab" aria-controls="orders" aria-selected="false">Siparişlerim</a>

                                <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Ayarlar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12  profile-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section tab-primary">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade active show" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                <a href="#" class="profile-icon-container">
                                                    <i class="fas fa-lira-sign  fa-2x"></i>
                                                    <p class="icon-title">Bakiye</p>
                                                    <p class="icon-title">@Model.Balance.Balance</p>
                                                </a>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                <a href="#" class="profile-icon-container" data-toggle="modal"
                                                   data-target="#payment-modal">
                                                    Ödeme Bildir
                                                </a>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 profile-icon-col">
                                                <a href="#" class="profile-icon-container">
                                                    <i class="far fa-credit-card  fa-2x"></i>
                                                    <p class="icon-title">Para Çek</p>
                                                    <p class="icon-title">(Çok Yakında)</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="announce-box announce-danger">
                                                    <p>
                                                        Havale/EFT yapıp bildirim yaptıktan sonra onaylanan bakiyenizi burda görebilirsiniz.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                                        <div class="row">
                                            <div class="col-12">
                                                @if (Model.Notifications.Count == 0)
                                                {
                                                    <div class="announce-box announce-danger">
                                                        <p>
                                                            Yeni Bildiriminiz Yok
                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    foreach (var item in Model.Notifications)
                                                    {
                                                        var css = item.NotificationType == NotificationType.APPROVED ? "green" : "red";
                                                        <div class="announce-box announce-danger">
                                                            <p style="color: @css">
                                                                @item.Message
                                                            </p>
                                                            <p style="color: white">@item.CreatedDate.ToString("G") </p>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        @await Component.InvokeAsync("UserOrder", new
                                        {
                                            id = Model.Balance.UserId
                                        })
                                    </div>
                                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                        4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                    <!--Body-->
                    <div class="modal-body">
                        <form name="edit_profile" method="post" action="https://www.bynogame.com/odeme/bildirim-sonuc" id="modal-form" class="form w-100 col-12 pl-0 pr-0 pt-0 mt-3 d-flex justify-content-center modal-form" novalidate="novalidate">
                            <input type="hidden" name="id2" value="116">
                            <div class="col-md-9 center-block mb-2">
                                <div class="row no-gutters">
                                    <div class="form-group col-12  mb-4">
                                        <div class="row no-gutters">
                                            <div class="form-group col-12 pl-0 pr-0">
                                                <label style="color: #009aff" class="control-label mt-0" for="first_name">
                                                    Adınız
                                                    Soyadınız
                                                </label>
                                                <input type="text" data-toggle="" autocomplete="off" class="form-control pl-3" readonly="readonly" value="@SessionManager.Instance.GetFullName()" aria-invalid="false">
                                            </div>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="form-group col-12 pl-0 pr-0">
                                                <label style="color: #009aff" class="control-label mt-0">
                                                    Telefon
                                                    No (Açıklamaya Yazdığınız)
                                                </label>
                                                <input type="text" id="phone-number" class="form-control pl-3">
                                                <span id="error-span-phone-number" style="display: none;color: red"></span>
                                            </div>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="form-group col-12 pl-0 pr-0">
                                                <label style="color: #009aff" class="control-label mt-0">
                                                    Banka Seçiniz
                                                </label>
                                                <select class="form-control" name="bank" id="bank" required="">
                                                    @foreach (var item in (Banks[])Enum.GetValues(typeof(Banks)))
                                                    {
                                                        <option value="@item">@PageHelper.Description(item)</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="form-group col-12 pl-0 pr-0">
                                        <label style="color: #009aff" class="control-label mt-0">
                                            Ödeme
                                            Tarihi
                                        </label>
                                        <input type="text" id="payment_date" class="form-control pl-3">
                                        <span id="error-span-payment-date" style="display: none;color: red"></span>
                                        <label style="color: #009aff" class="control-label mt-0">
                                            İşlem
                                            Türü: &nbsp
                                        </label>
                                        <div class="form-check form-check-inline mb-4 ppymnttype">
                                            <label class="form-check-label">
                                                <input required="required" autocomplete="off" class="" type="radio" name="primitivePaymentType" value="ATM">
                                                ATM
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mb-4 ppymnttype">
                                            <label class="form-check-label">
                                                <input required="required" class="" type="radio" name="primitivePaymentType" value="Havale">
                                                Havale
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mb-4 ppymnttype">
                                            <label class="form-check-label">
                                                <input required="required" class="" type="radio" name="primitivePaymentType" value="EFT">
                                                EFT
                                            </label>
                                        </div>
                                        <span id="error-span-payment-type" style="display: none;color: red"></span>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="form-group col-12  mb-4">
                                        <div class="row no-gutters">
                                            <div class="form-group col-12 pl-0 pr-0">
                                                <label style="color: #009aff" class="control-label mt-0">
                                                    Miktar
                                                </label>
                                                <input type="text" id="amount" name="a2" data-toggle="" class="form-control pl-3" value="0"
                                                       onfocus="if(this.value  == '0') { this.value = ''; } " onblur="if(this.value == '') { this.value = '0'; }"
                                                       onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                                            </div>
                                        </div>
                                        <span id="error-span-amount" style="display: none;color: red"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="form-row form-group">
                            <div class="col-12">
                                <button class="button w-100" style="background-color: green; color: white; margin-bottom: 10px !important" id="payment-valid" type="submit">
                                    <span class="spinner-border spinner-border-sm" style="display:none;float :right" role="status" aria-hidden="true"></span>
                                    Ödeme Bildir
                                </button>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-12">
                                <button class="button w-100" style="background-color: blue; color: white" id="closeModal" type="submit">
                                    Kapat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="payment-information-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Modal cascading tabs-->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                    <!--Body-->
                    <div class="modal-body">
                        <h4>Ödeme talebiniz alındı. Kontrol edildikten sonra hesabınıza aktarılacaktır.</h4>
                        <div class="form-row form-group">
                            <div class="col-12">
                                <button class="button w-100" style="background-color: blue; color: white" id="closeModalpayment" type="submit">
                                    Kapat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script src="~/assest/scripts/bootstrap-datepicker.min.js"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script>
    var keyValueObject = {
        errorspanpaymentdate: "Lütfen tarih seçiniz.",
        errorspanamount: "Lütfen miktarı giriniz",
        errorspanpaymenttype: "Lütfen ödeme türünü seçiniz",
        errorspanphonenumber: "Lütfen telefon numarası giriniz"
    };
    $('#payment_date').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        keyboardNavigation: false,
        forceParse: false,
        startDate: new Date()
    });

    $('#phone-number').mask('(0000) 000 - 00 00');
       
    $(document).ready(function () {
        var primitivePaymentType = "";

        
        $("#closeModalpayment").on("click", function () {
            $("#payment-information-modal").modal("hide");
        });

        $("#closeModal").on("click", function () {
            $("#payment-modal").modal("hide");
        });

        $(".ppymnttype").click(function () {
            primitivePaymentType = this.innerText.trim();
        });

        $("#payment-valid").click(function () {
            var model = {
                Date: document.getElementById("payment_date").value,
                Bank: document.getElementById("bank").value,
                Amount: document.getElementById("amount").value,
                PrimitivePaymentType: primitivePaymentType,
                PhoneNumber: document.getElementById("phone-number").value
            }

            var errors = checkFormValid(model);

            if (errors.length > 0) {
                return;
            }
            $(document.getElementsByClassName("spinner-border")[0]).css("display","block");

            $.ajax({
                type: 'post',
                url: '/User/RequestPayment',
                content: "application/json; charset=utf-8",
                dataType: 'json',
                data: model,
                success: function (res) {
                    if (res.data.isSuccess) {
                        $("#payment-modal").modal("hide");
                        $('#payment-information-modal').modal('show');
                        $(document.getElementsByClassName("spinner-border")[0]).css("display","none");
                    } else {
                        alert("Talep Gönderilirken bir hata oluştu");
                       $(document.getElementsByClassName("spinner-border")[0]).css("display","none");
                    }
                },
                error: function (err) {
                    alert("Bir Hata oluştu");
                    $(document.getElementsByClassName("spinner-border")[0]).css("display","none");
                }
            });
        });

        $("#notifications-tab").click(function (e) {
            var id = $(this).attr("data-id");
            $.ajax({
                type: 'post',
                url: '/User/ReadAllNotification',
                content: "application/json; charset=utf-8",
                dataType: 'json',
                data: { id: id },
                success: function (res) {
                },
                error: function (err) {
                    alert("Bir Hata oluştu");
                }
            });
        });
    });

    function checkFormValid(data) {
        var errorSpan = [];
        if (data.Date == "" || data.Date == null) {
            errorSpan.push("error-span-payment-date");
        }
        if (data.Amount == "" || data.Amount == null || data.Amount <= 0) {
            errorSpan.push("error-span-amount");
        }
        if (data.PrimitivePaymentType == "" || data.PrimitivePaymentType == null) {
            errorSpan.push("error-span-payment-type");
        }
        if (data.PhoneNumber == "" || data.PhoneNumber == null) {
            errorSpan.push("error-span-phone-number");
        }
        for (var i = 0; i < errorSpan.length; i++) {
            var key = errorSpan[i].split("-").join("");
            $(document.getElementById(errorSpan[i])).html(keyValueObject[key]);
            $(document.getElementById(errorSpan[i])).css("display", "block");
        }

        return errorSpan;
    }

</script>