@using AvsarGame.Core
@using AvsarGame.Entities.Entities
@using AvsarGame.Portal.Core
@model List<AddversimentDetailModel>

@{
    ViewBag.Title = "İlanlarım";
    Layout = "_Layout";
}
<style>
    table tbody tr td {
        text-align: center
    }

    table thead tr {
        text-align: center
    }
</style>
<div class="page-wrapper">
    <main class="Main">
        <div class="container" style="border: 1px solid #009aff !important">
            <div class="section tab-primary">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-container">
                                    <table class="table table-dark responsive-table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Başlık</th>
                                                <th scope="col">Fiyat</th>
                                                <th scope="col">Durumu</th>
                                                <th scope="col">İlana git</th>
                                                <th scope="col">İşlemler</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td scope="col">@item.Title</td>
                                                <td scope="col">@item.Price</td>
                                                <td style="color: @PageHelper.GetAddversimentStatusStyle(item.Status)">@PageHelper.Description((AddversimentStatus)item.Status)</td>
                                                <td scope="col"><a href="@PageHelper.GetAddversimentHref((AddversimentType)item.DetailType,item.Id)">İlana git</a></td>
                                                <td scope="col">
                                                    <button class="btn btn-blue">
                                                        Düzenle
                                                    </button>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>