@using AvsarGame.Portal.Core
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anatolia Game | Türkiye'nin Yeni Online Oyun Alışveriş Platformu</title>
    <link href="~/assest/style/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assest/style/swiper.min.css" rel="stylesheet" />
    <link href="~/assest/style/main.min.css" rel="stylesheet" />
    <link href="~/assest/Floating-label.css" rel="stylesheet" />
    <link href="~/assest/Style/card.css" rel="stylesheet" />
    <link rel="icon" href="~/assest/logos/favicon.svg" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/assest/scripts/toastr.min.js"></script>
    <link href="~/assest/style/toastr.min.css" rel="stylesheet" />
    <link href="~/assest/style/additional.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="~/assest/scripts/jquery.mask.min.js"></script>
    <link href="~/assest/style/uppy-min.css" rel="stylesheet" />
    <script src="~/assest/scripts/uppy-tr.js"></script>
    <link href="~/assest/style/camroll_slider.css" rel="stylesheet" />
    <script src="~/assest/scripts/camroll_slider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <style>
        .box-pay {
            border: 3px solid #009aff;
        }

        .chartCss {
            text-shadow: 0 1px 39px #0088e8, 0 1px 2px rgba(0, 0, 0, .2) !important
        }

        .ajaxShowLoader {
            opacity: 1 !important;
            display: block !important;
            background-color: transparent;
            z-index: 99999;
        }

        .loader {
            position: relative;
            text-align: center;
            margin: 15px auto 35px auto;
            z-index: 9999;
            display: block;
            width: 80px;
            height: 80px;
            border: 10px solid rgba(0, 0, 0, .3);
            border-radius: 50%;
            border-top-color: #007bff;
            animation: spin 1s ease-in-out infinite;
            -webkit-animation: spin 1s ease-in-out infinite;
        }

        @@keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @@-webkit-keyframes spin {
            to {
                -webkit-transform: rotate(360deg);
            }
        }

        .modal-content {
            border-radius: 0px;
            box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
        }

        .modal-backdrop.show {
            opacity: 0.75;
        }

        #output {
            padding: 25px 15px;
            background: #222;
            border: 1px solid #222;
            max-width: 350px;
            margin: 35px auto;
            font-family: 'Roboto', sans-serif !important;
        }

        p.subtle {
            color: #555;
            font-style: italic;
            font-family: 'Roboto', sans-serif !important;
        }
    </style>

    @*Global site tag (gtag.js) - Google Analytics*@
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161891291-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-161891291-1');
    </script>
    <meta name="yandex-verification" content="dca26fb67d502925" />
    <meta name="Keywords" content="Anatolia Game, knight online GB, knight GB, Vega, Sirius, oyun parası cash, knight online pvp" />
    <meta name="Description" content="Anatolia Game yeni açılışa özel en iyi fiyat garantisiyle tüm oyun severlerin yanında, haydi sen de oyna!" />
    <meta name="robots" content="index, follow" />
    <meta name="robots" content="NOODP" />
    <script src="//code.jivosite.com/widget/52YoFr6EhE" async></script>
    <script>
        $(document).ready(function () {

            //Clicked Any Box for Payment Methods
            $('#methods-col .box').click(function () {
                var splitcount = this.innerText.split('\n');
                if (splitcount.length > 1) {
                    PaymentMethod(splitcount[0].toString());
                } else {
                    PaymentMethod(this.innerText.toString());
                }
            });

            //Function PaymentMethod Action
            function PaymentMethod(methodName) {
                var arr = $('#methods-col .box-title');
                for (var i = 0; i < arr.length; i++) {
                    var method = ($.trim(arr[i].innerText.toString())).replace(" ", "").toLowerCase();
                    if (methodName.replace(" ", "").toLowerCase().localeCompare(method) == 0) {
                        //remove class boxs
                        var boxes = document.getElementsByClassName("box");
                        for (var i = 0; i < boxes.length; i++) {
                            $(boxes[i]).removeClass("box-pay")
                        }
                        //Add class
                        $("#" + method + "-payment").addClass('box-pay');
                        //Remove Payments Container
                        document.getElementById("payments-container").innerHTML = "";
                        //Add Payment Content by Method
                        var content =
                            '<div class="row">'
                            + '<div class="col-12">'
                            + '<div class="section tab-primary">'
                            + '<ul class="nav nav-pills " id="pills-tab" role="tablist">'
                            + '<li class="nav-item">'
                            + '<a class="nav-link active" id="pills-' + method + '-tab" data-toggle="pill"'
                            + 'href="#' + method + '-method" role="tab" aria-controls="' + method + '-method"'
                            + 'aria-selected="false">' + methodName + ' Ödeme</a>'
                            + '</li>'
                            + '</ul>'
                            + '<div class="tab-content">'
                            + '<div class="tab-pane fade active show" role="tabpanel"'
                            + 'aria-labelledby="pills-' + method + '-method-tab">'
                            + '<div class="row">'
                            + '<form method = "post" action = "/Payment/pay" >'
                            + '<input hidden="hidden" name="paymentMethod" value="' + method + '">'
                            + '<div class="form-row align-items-center">'
                            + '<div class="col-auto">'
                            + '<label class="text-white">Yatırılacak Tutar</label>'
                            + '<input type="text" style="background-color:white" name="amount" class="form-control mb-2" id="amountOfBalance" placeholder="0.00">'
                            + '</div>'
                            + '<div class="col-auto">'
                            + '<label class="text-white" for="inlineFormInputGroup">Ödenecek Tutar</label>'
                            + '<div class="input-group mb-2">'
                            + '<div class="input-group-prepend">'
                            + '<div class="input-group-text"></div>'
                            + '</div>'
                            + '<input type="text" style="background-color:white" name="amountWithCommission" disabled="disabled" class="form-control" id="amountOfBalanceWithCms" placeholder="0.00">'
                            + '</div>'
                            + '</div>'
                            + '<div class="col-auto">'
                            + '<button type="submit" style="margin-top: 23px;" id="paymentBtn" class="btn btn-success">Ödemeye git</button>'
                            + '</div>'
                            + '</div>'
                            + '<input name="__RequestVerificationToken" type="hidden" value="CfDJ8De_RNuM-udEjPh9jd0UQ_OkQP-1uoClJ7xrs7Tx35tZRm3L6AU63q9fzMcNJiAkZ-VPVw59OO8q6MPz_hRoB1cUToykM7rxxGunnAOBVrD_fgmaOW7-KOyVjP9Sp3ApfeX0H65-nA3jI_mkrlTSE1w"></form>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '<div class="row">'
                            + '<div class="col-12">'
                            + '<div class="announce-box announce-danger">'
                            + '<p>'
                            + methodName + ' İle Ödemelerde %2 Komisyon Alınmaktadır.'
                            + '</p>'
                            + '</div>'
                            + '</div>'
                            + '</div >'
                        document.getElementById("payments-container").insertAdjacentHTML('beforeend', content)
                        break;
                    }
                }
            }
        });
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<body>

    @await Html.PartialAsync("_Header")

    @RenderBody()

    @await Html.PartialAsync("_Footer")

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Modal cascading tabs-->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs row" id="login-tabs" role="tablist">
                    <li class="nav-item col login-link">
                        <a class="nav-link active" data-toggle="tab" href="#login-tab" role="tab">Giriş</a>
                    </li>
                    <li class="nav-item col register-link">
                        <a class="nav-link" data-toggle="tab" href="#register-tab" role="tab">Üye Ol</a>
                    </li>
                    <li class="nav-item col terms-link d-none">
                        <a class="nav-link termback" data-toggle="tab" href="#terms-tab" role="tab">Kullanım Koşulları</a>
                    </li>
                    <li class="nav-item col forgot-pw-link d-none">
                        <a class="nav-link" data-toggle="tab" href="#forgot-pw-tab" role="tab">Şifremi Unuttum</a>
                    </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Register-->
                    <div class="tab-pane fade" id="register-tab" role="tabpanel">
                        <!--Body-->
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-row form-group">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control validate" id="user-name" required autocomplete="off" />
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="floating-lbl">Ad</label>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control validate" id="user-surname" required autocomplete="off" />
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="floating-lbl">Soyad</label>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <input type="email" class="form-control validate" id="user-email" required autocomplete="off" />
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="floating-lbl">E-mail</label>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12 ">
                                        <div class="pw-container">
                                            <input type="password" class="form-control validate" id="user-password" required autocomplete="off" />
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label class="floating-lbl">Şifre</label>
                                            <div class="pw-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12 ">
                                        <input type="tel" class="form-control validate" id="user-phone" required autocomplete="off" />
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="floating-lbl">Telefon</label>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <label class="form-csCheck">
                                            <input class="form-check-input form-control validate" type="checkbox"
                                                   value="" id="terms" required />
                                            <span class="form-csCheck-checkmark"></span>
                                        </label>
                                        <span class="terms ">
                                            <input type="checkbox" id="isChecked" />
                                            <a data-toggle="tab" href="#terms-tab"
                                               href="javascript:void(0)" onclick="showTerms()">
                                                <span style="color: #009aff !important; background-color: transparent;">Kullanım koşullarını kabul ediyorum</span>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <button class="button btn-blue w-100" id="register" type="submit">
                                            ÜYE OL
                                        </button>
                                    </div>
                                </div>
                                <span class="login-fail" style="color: white"></span>
                                <div class="modal-close">Kapat</div>
                            </form>
                        </div>
                    </div>
                    <!--/.Register-->
                    <!--Login-->
                    <div class="tab-pane fade show active" id="login-tab" role="tabpanel">
                        <!--Body-->
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <input type="email" class="form-control validate" id="currentEmail"
                                               placeholder="Email" required />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12 ">
                                        <div class="pw-container">
                                            <input type="password" class="form-control validate" id="current-password"
                                                   placeholder="Şifre" required />
                                            <div class="pw-icon"></div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-row form-group">
                                        <div class="col-12">
                                            <label class="form-csCheck">
                                                <input class="form-check-input form-control validate" type="checkbox"
                                                       value="" id="user-remember" required/>
                                                <span class="form-csCheck-checkmark"></span>
                                                Beni Hatırla
                                            </label>
                                        </div>
                                    </div>*@
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <button class="button btn-blue w-100" id="login">
                                            GİRİŞ YAP
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <p onclick="forgotPw()" class="text-center forgot-pw">
                                Şifremi Unuttum
                            </p>
                            <span class="login-fail" style="color: white"></span>
                            <div class="modal-close">Kapat</div>
                        </div>
                    </div>
                    <!--/.Login-->
                    <!-- Terms -->
                    <div class="tab-pane fade terms-link" id="terms-tab" role="tabpanel">
                        <!--Body-->
                        <div class="modal-body">
                            <div class="terms-container">
                                @Html.Raw("<p>Bu s&ouml;zleşme, sitemizdeki hizmetlerden faydalanabilmeniz i&ccedil;in gerekli kuralları i&ccedil;ermektedir.<br /> &nbsp;<br /> SİTEMİZE &Uuml;YE OLARAK, KULLANICI S&Ouml;ZLEŞMESİ&amp;Nİ OKUDUĞUNUZU, İ&Ccedil;ERİĞİNİ<br /> ANLADIĞINIZI VE H&Uuml;K&Uuml;MLERİNİ KABUL ETTİĞİNİZİ VE ONAYLADIĞINIZI KABUL,<br /> BEYAN ETMİŞ OLUYORSUNUZ.<br /> &nbsp;<br /> 1. Taraflar İşbu s&ouml;zleşme ve s&ouml;zleşmeyle atıfta bulunulan ve s&ouml;zleşmenin ayrılmaz birer<br /> par&ccedil;ası olan belgelerden ve eklerden EK-1 Gizlilik Politikası oluşan işbu AnatoliaGame<br /> Kullanıcı S&ouml;zleşmesi bundan b&ouml;yle &amp;Kullanıcı S&ouml;zleşmesi&amp; olarak anılacaktır,<br /> AnatoliaGame ile Site&amp;ye &uuml;ye olan Kullanıcı arasında, Kullanıcı&amp;nın Site&amp;ye &uuml;ye olması<br /> amacıyla ve s&ouml;zleşmenin, ilgili Site&amp;nin bulunduğu elektronik ortamda, Kullanıcı<br /> tarafından onaylanması anında d&uuml;zenlenmiştir. Kullanıcı, Site&amp;ye &uuml;ye olarak, Kullanıcı<br /> S&ouml;zleşmesi&amp;nin tamamını okuduğunu, i&ccedil;eriğini b&uuml;t&uuml;n&uuml; ile anladığını ve t&uuml;m h&uuml;k&uuml;mlerini<br /> onayladığını kabul, beyan ve taahh&uuml;t eder.<br /> &nbsp;<br /> 2. Tanımlar Kullanıcı:Site&amp;ye &uuml;ye olan ve Site&amp;de sunulan Hizmet&amp;lerden, işbu s&ouml;zleşmede<br /> belirtilen koşullar dahilinde yararlanan ger&ccedil;ek veya t&uuml;zel kişi Site: www.<br /> anatoliagame.com isimli alan adından ve bu alan adına bağlı alt alan adlarından oluşan<br /> web sitesi AnatoliaGame tarafından, Site i&ccedil;erisinde ortaya konulan &uuml;r&uuml;nler&nbsp;<br /> &nbsp;<br /> 3. S&ouml;zleşmenin Konusu ve Kapsamı Kullanıcı S&ouml;zleşmesi&amp;nin konusu, Site&amp;de sunulan<br /> Hizmet&amp;lerin, bu Hizmet&amp;lerden yararlanma şartlarının ve tarafların hak ve<br /> y&uuml;k&uuml;ml&uuml;l&uuml;klerinin tespitidir. Kullanıcı S&ouml;zleşmesi&amp;nin kapsamı, işbu s&ouml;zleşme ve ekleri ile<br /> Site i&ccedil;erisinde yer alan, kullanıma, &uuml;yeliğe ve Hizmet&amp;lere ilişkin olarak AnatoliaGame<br /> tarafından yapılmış olan bilc&uuml;mle uyarı, yazı ve a&ccedil;ıklama gibi beyanlardır. Kullanıcı,<br /> Kullanıcı S&ouml;zleşmesi&amp;nin h&uuml;k&uuml;mlerini kabul etmekle, Site i&ccedil;inde yer alan, kullanıma,<br /> &uuml;yeliğe ve Hizmet&amp;lere ilişkin olarak AnatoliaGame tarafından a&ccedil;ıklanan her t&uuml;rl&uuml; beyanı<br /> da kabul etmiş olmaktadır. Kullanıcı, bahsi ge&ccedil;en beyanlarda belirtilen her t&uuml;rl&uuml; hususa<br /> uygun olarak davranacağını kabul, beyan ve taahh&uuml;t eder.<br /> &nbsp;<br /> 4. &Uuml;yelik ve Hizmet Kullanımı Şartları a &Uuml;yelik, Site&amp;nin ilgili b&ouml;l&uuml;m&uuml;nden, Kullanıcı olmak<br /> isteyen kişi tarafından Site&amp;ye &uuml;ye olmak i&ccedil;in gerekli kimlik bilgilerinin g&ouml;nderilmesi<br /> suretiyle kayıt işleminin yaptırılması ve AnatoliaGame tarafından kayıt işleminin<br /> onaylanması ile tamamlanır. &Uuml;yelik işlemi tamamlanmadan, işbu s&ouml;zleşmede tanımlanan<br /> Kullanıcı olma hak ve yetkisine sahip olunamaz. Site&amp;ye &uuml;ye olabilmek i&ccedil;in,reşit olmak ve<br /> işbu s&ouml;zleşmenin 5.2 maddesi uyarınca , AnatoliaGame tarafından, ge&ccedil;ici olarak<br /> &uuml;yelikten uzaklaştırılmış veya &uuml;yelikten s&uuml;resiz yasaklanmış olmamak gerekmektedir.<br /> Reşit olmayan veya yukarıda belirtildiği gibi, işbu s&ouml;zleşmenin 5.2 maddesi uyarınca,<br /> AnatoliaGame tarafından ge&ccedil;ici olarak &uuml;yelikten uzaklaştırılmış veya &uuml;yelikten s&uuml;resiz<br /> yasaklanmış olan kişilerin Site kayıt işlemlerini tamamlamış olmaları, Site &uuml;yesi olmaları<br /> sonucunu doğurmayacaktır.&nbsp;<br /> &nbsp;<br /> 5. Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kler&nbsp;<br /> &nbsp;<br /> *5.1. Kullanıcı&amp;nın Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri<br /> &nbsp;<br /> ** a Kullanıcı, &uuml;yelik prosed&uuml;rlerini yerine getirirken, Site&amp;nin Hizmet&amp;lerinden<br /> faydalanırken ve Site&amp;deki Hizmet&amp;lerle ilgili herhangi bir işlemi yerine getirirken, Kullanıcı<br /> S&ouml;zleşmesi&amp;nde yer alan t&uuml;m şartlara, Site&amp;nin ilgili yerlerinde belirtilen kurallara ve<br /> y&uuml;r&uuml;rl&uuml;kteki t&uuml;m mevzuata uygun hareket edeceğini, yukarıda belirtilen t&uuml;m şart ve<br /> kuralları anladığını ve onayladığını kabul, beyan ve taahh&uuml;t eder.&nbsp;</p> <p>** b Kullanıcı,y&uuml;r&uuml;rl&uuml;kteki emredici mevzuat h&uuml;k&uuml;mleri gereğince veya diğer Kullanıcılar<br /> ile &uuml;&ccedil;&uuml;nc&uuml; şahısların haklarının ihlal edildiğinin iddia edilmesi durumlarında,<br /> AnatoliaGame&rsquo;in kendisine ait gizli/&ouml;zel/ticari bilgileri gerek resmi makamlara ve gerekse<br /> hak sahibi kişilere a&ccedil;ıklamaya yetkili olacağını ve bu sebeple AnatoliaGame&rsquo;den her ne<br /> nam altında olursa olsun tazminat talep edilemeyeceğini kabul, beyan ve taahh&uuml;t eder.&nbsp;<br /> ** c Kullanıcı&amp;ların AnatoliaGame tarafından sunulan Hizmet&amp;lerden yararlanabilmek<br /> amacıyla kullandıkları sisteme erişim ara&ccedil;larının Kullanıcı ismi, şifre v.b. g&uuml;venliği,<br /> saklanması, &uuml;&ccedil;&uuml;nc&uuml; kişilerin bilgisinden uzak tutulması ve kullanılması durumlarıyla ilgili<br /> hususlar tamamen Kullanıcı&amp;ların sorumluluğundadır. Kullanıcı&amp;ların, sisteme giriş<br /> ara&ccedil;larının g&uuml;venliği, saklanması, &uuml;&ccedil;&uuml;nc&uuml; kişilerin bilgisinden uzak tutulması,<br /> kullanılması gibi hususlardaki t&uuml;m ihmal ve kusurlarından dolayı Kullanıcı&amp;ların ve/veya<br /> &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradığı veya uğrayabileceği zararlara istinaden AnatoliaGame&rsquo;in,<br /> doğrudan veya dolaylı, herhangi bir sorumluluğu yoktur.<br /> ** d Kullanıcı&amp;lar, Site dahilinde kendileri tarafından sağlanan bilgi ve i&ccedil;eriklerin doğru ve<br /> hukuka uygun olduğunu kabul, beyan ve taahh&uuml;t ederler. AnatoliaGame, Kullanıcı&amp;lar<br /> tarafından AnatoliaGame&rsquo;e iletilen veya Site &uuml;zerinden kendileri tarafından y&uuml;klenen,<br /> değiştirilen veya sağlanan bilgi ve i&ccedil;eriklerin doğruluğunu araştırma, bu bilgi ve i&ccedil;eriklerin<br /> g&uuml;venli, doğru ve hukuka uygun olduğunu taahh&uuml;t ve garanti etmekle y&uuml;k&uuml;ml&uuml; ve<br /> sorumlu olmadığı gibi, s&ouml;z konusu bilgi ve i&ccedil;eriklerin yanlış veya hatalı olmasından dolayı<br /> ortaya &ccedil;ıkacak hi&ccedil;bir zarardan da sorumlu tutulamaz.<br /> **e Kullanıcı&amp;lar, AnatoliaGame&rsquo;in yazılı onayı olmadan, Kullanıcı S&ouml;zleşmesi<br /> kapsamındaki hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerini, kısmen veya tamamen, herhangi bir &uuml;&ccedil;&uuml;nc&uuml;<br /> kişiye devredemezler.<br /> ** f AnatoliaGame&rsquo;in sunduğu Hizmet&amp;lerden yararlananlar ve Site&amp;yi kullananlar, yalnızca<br /> hukuka uygun ama&ccedil;larla Site &uuml;zerinde işlem yapabilirler. Kullanıcı&amp;ların, Site dahilinde<br /> yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir. Her<br /> Kullanıcı, AnatoliaGame ve/veya başka bir &uuml;&ccedil;&uuml;nc&uuml; şahsın ayni veya şahsi haklarına veya<br /> malvarlığına tecav&uuml;z teşkil edecek şekilde, Site dahilinde bulunan resimleri, metinleri,<br /> g&ouml;rsel ve işitsel imgeleri, video kliplerini, dosyaları, veritabanlarını, katalogları ve listeleri<br /> &ccedil;oğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, gerek bu<br /> eylemleri ile gerekse de başka yollarla AnatoliaGame ile doğrudan ve/veya dolaylı olarak<br /> rekabete girmeyeceğini kabul, beyan ve taahh&uuml;t eder. AnatoliaGame, Kullanıcı&amp;ların<br /> Kullanıcı S&ouml;zleşmesi h&uuml;k&uuml;mlerine ve/veya hukuka aykırı olarak Site &uuml;zerinde<br /> ger&ccedil;ekleştirdikleri faaliyetler nedeniyle &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradıkları veya uğrayabilecekleri<br /> zararlardan doğrudan ve/veya dolaylı olarak, hi&ccedil;bir şekilde sorumlu tutulamaz.&nbsp;<br /> &nbsp;<br /> *5.2. AnatoliaGame&rsquo;in Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri<br /> &nbsp;<br /> ** a AnatoliaGame, Site&amp;de sunulan Hizmet&amp;leri ve i&ccedil;erikleri her zaman değiştirebilme<br /> hakkını saklı tutmaktadır. AnatoliaGame, bu hakkını, hi&ccedil;bir bildirimde bulunmadan ve<br /> &ouml;nel vermeden kullanabilir.<br /> ** b AnatoliaGame ,Site &uuml;zerinden, başkaca &uuml;&ccedil;&uuml;nc&uuml; kişilerin sahip olduğu ve işlettiği<br /> başka web sitelerine ve/veya portallara, dosyalara veya i&ccedil;eriklere &amp;link&amp; verebilir. Bu<br /> &amp;link&amp;ler, Kullanıcı&amp;lar a sadece referans kolaylığı nedeniyle AnatoliaGame tarafından<br /> sağlanmış olabilir ve web sitesini veya siteyi işleten kişiyi desteklemek amacı veya web<br /> sitesi veya i&ccedil;erdiği bilgilere y&ouml;nelik herhangi bir t&uuml;rde bir beyan veya garanti niteliği<br /> taşımamaktadır. Site &uuml;zerindeki &amp;link&amp;ler vasıtasıyla erişilen portallar, web siteleri,<br /> dosyalar ve i&ccedil;erikler, bu &amp;link&amp;ler vasıtasıyla erişilen portallar veya web sitelerinden<br /> sunulan hizmetler veya &uuml;r&uuml;nler veya bunların i&ccedil;eriği hakkında AnatoliaGame&rsquo;in herhangi<br /> bir sorumluluğu yoktur.&nbsp;<br /> ** c AnatoliaGame, Site&amp;de yer alan Kullanıcı bilgilerini veya &uuml;yeliğe ilişkin Kullanıcı<br /> bilgilerini, Kullanıcı g&uuml;venliği, kendi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; ifa ve bazı istatistiki değerlendirmeler</p> <p>i&ccedil;in dilediği bi&ccedil;imde kullanabilir. Bunları bir veritabanı &uuml;zerinde tasnif edip muhafaza<br /> edebilir.&nbsp;<br /> ** d AnatoliaGame , Site&amp;de sağlanan Hizmet&amp;ler kapsamında Kullanıcı&amp;lar ve &uuml;reticiler<br /> arasında ortaya &ccedil;ıkan uyuşmazlıklarda, arabulucu veya hakem sıfatlarıyla g&ouml;rev almaz. e<br /> Kullanıcı&amp;lar ve AnatoliaGame hukuken bağımsız taraflardır. Aralarında ortaklık,<br /> temsilcilik veya iş&ccedil;i-işveren ilişkisi yoktur. Kullanıcı S&ouml;zleşmesi&amp;nin onaylanması ve<br /> uygulanması sonucunda, ortaklık, temsilcilik veya iş&ccedil;i-işveren ilişkisi doğmaz.<br /> **e Site&rsquo;deki &uuml;r&uuml;nlerin fiyatlarındaki tipografik hatalardan AnatoliaGame sorumlu değildir.<br /> **f AnatoliaGame&rsquo;de satılan t&uuml;m &uuml;r&uuml;nlerde anlık fiyat değişiklikleri olabilir b&ouml;yle bir<br /> durumda kullanıcı i&ccedil;in ge&ccedil;erli olacak fiyat &ouml;deme yaptığı andaki değil sipariş verdiği<br /> andaki yazan fiyat ge&ccedil;erlidir.<br /> &nbsp;<br /> 6. Yapılan &Ouml;demeler ve Para İadesi Kullanıcılar &ouml;demelerden sonra Banka Dekontları,<br /> Bankamatik fişleri gibi belgeleri saklamakla y&uuml;k&uuml;ml&uuml;d&uuml;r. Gerekli g&ouml;r&uuml;lmesi halinde<br /> sizden talep edilecektir. İbraz edilememesi gibi durumlarda AnatoliaGame yapılan<br /> &ouml;demelerle ilgili sorumlu değildir. &Ouml;demelerde yazacağınız a&ccedil;ıklamalar sayesinde<br /> &ouml;demeleriniz hesaplarınıza işlenecektir. Ancak a&ccedil;ıklamaların eksik yanlış girilmesi<br /> sonucunda oluşacak zararlarda AnatoliaGame mesul değildir. Kullanıcının siteye yaptığı<br /> ilk &ouml;demesinde &ouml;demenin onay alabilmesi i&ccedil;in &nbsp;g&uuml;venlik amacıyla AnatoliaGame<br /> kullanıcıdan &ouml;deme dekontu yanında &nbsp;&ouml;deme yapan kişiye ait kimlik resmi , ehliyet resmi,<br /> adına kayıtlı fatura gibi belgeleri isteme hakkına sahiptir.Kullanıcılar sitede bulunan<br /> bakiyelerini banka hesaplarına iade alabilme şartları ;<br /> &nbsp;<br /> Banka yolu &nbsp;havale ,eft , şube i&ccedil;i &ouml;deme , mobil &ouml;deme , atm kartsız işlem ile &ouml;deme bu<br /> yollarla y&uuml;klenen bakiyelerin iadeleri sadece &ouml;deme yapan kişi adına kayıtlı bir banka<br /> hesabına yapılabilmektedir aksi m&uuml;mk&uuml;n değildir.<br /> Sitede &nbsp;oyun parası , oyun i&ccedil;i eşya satışları ile kazanılan bakiyelerin istenilen bir banka<br /> hesabına &ccedil;ekilmesi m&uuml;mk&uuml;nd&uuml;r.<br /> Bakiye iade işlemlerinde kesilecek &uuml;cret :Sitede para &ccedil;ekme sayfasında AnatoliaGame<br /> tarafından belirlenen &uuml;cretin &ccedil;ekilen tutardan kesileceğini kullanıcı kabul etmiş sayılır.<br /> &nbsp;<br /> &nbsp;<br /> 7. Teslimat S&uuml;releri Stoklarda sorun olması halinde ya da g&uuml;n i&ccedil;ersinde hızlı satışlar<br /> sonunda stokların t&uuml;kenmesi durumunda paranız kredinizde AnatoliaGame tarafından<br /> tutulmakta ancak istendiğinde geri iade edilebilmektedir.&nbsp;<br /> &nbsp;<br /> 8. Oyun Kodlarının Hatalı ve illagal şeklide Kullanımı veya Teslim Edilen Oyun Paraları&nbsp;<br /> a Teslim edilen kodların hatalı olarak kullanılması durumunda AnatoliaGame yeni kod<br /> yollamakla y&uuml;k&uuml;ml&uuml; değildir.&nbsp;<br /> b Oyun Parası Siparişlerinizde Ulaşabilecek T&uuml;m Hatalardan AnatoliaGame sorumlu<br /> değildir.&nbsp;<br /> c AnatoliaGame&rsquo;de satılan epin kodlarının oyundaki karşılıklarında &nbsp;oyun firmalarının<br /> yaptığı değişiklikler nedeni ile farklı değer y&uuml;klenir ise AnatoliaGame&rsquo;in bu konuda<br /> herhangi bir sorumluluğu olmayacaktır.<br /> d Teslim edilen kodların AnatoliaGame&rsquo;e iadesi m&uuml;mk&uuml;n değildir<br /> &nbsp;<br /> 9. Gizlilik Politikası AnatoliaGame, Kullanıcı&amp;lara ilişkin bilgileri, işbu s&ouml;zleşmenin EK-1<br /> Gizlilik Politikası b&ouml;l&uuml;m&uuml;ndeki d&uuml;zenlemelere uygun olarak kullanabilir. AnatoliaGame,<br /> Kullanıcı&amp;lara ait gizli bilgileri, Kullanıcı S&ouml;zleşmesi&amp;nde aksine m&uuml;sade edilen durumlar<br /> haricinde, &uuml;&ccedil;&uuml;nc&uuml; kişi ve kurumlara kullandırılmaz.&nbsp;<br /> &nbsp;<br /> 10. Diğer H&uuml;k&uuml;mler&nbsp;</p> <p>* 10.1. Fikri M&uuml;lkiyet Hakları a Site&amp;nin tasarım, metin, imge, html kodu ve diğer kodlar da<br /> dahil ve fakat bunlarla sınırlı olmamak kaydıyla t&uuml;m elemanları AnatoliaGame&rsquo;in telif<br /> haklarına tabi &ccedil;alışmalar AnatoliaGame Ltd&amp;e ait olarak ve/veya AnatoliaGame tarafından<br /> &uuml;&ccedil;&uuml;nc&uuml; bir kişiden alınan lisans hakkı altında kullanılmaktadır. Kullanıcı&amp;lar,<br /> AnatoliaGame Hizmet&amp;lerini, AnatoliaGame bilgilerini ve AnatoliaGame &amp;in telif haklarına<br /> tabi &ccedil;alışmalarını yeniden satamaz, paylaşamaz, dağıtamaz, sergileyemez, &ccedil;oğaltamaz,<br /> bunlardan t&uuml;remiş &ccedil;alışmalar yapamaz veya hazırlayamaz, veya başkasının<br /> AnatoliaGame&amp;in Hizmet&amp;lerine erişmesine veya kullanmasına izin veremez aksi takdirde,<br /> lisans verenler de dahil ancak bunlarla sınırlı olmaksızın, &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradıkları<br /> zararlardan dolayı AnatoliaGame&rsquo;den talep edilen tazminat miktarını ve mahkeme<br /> masrafları ve avukatlık &uuml;creti de dahil ancak bununla sınırlı olmamak &uuml;zere diğer her<br /> t&uuml;rl&uuml; y&uuml;k&uuml;ml&uuml;l&uuml;kleri karşılamakla sorumlu olacaklardır. AnatoliaGame&rsquo;in, AnatoliaGame<br /> Hizmet&amp;leri, Forlife Online Ltd bilgileri, AnatoliaGame telif haklarına tabi &ccedil;alışmalar,<br /> AnatoliaGame ticari markaları, AnatoliaGame ticari g&ouml;r&uuml;n&uuml;m&uuml; veya Site vasıtasıyla sahip<br /> olduğu her t&uuml;r maddi ve fikri m&uuml;lkiyet hakları da dahil t&uuml;m malvarlığı, ayni ve şahsi<br /> hakları, ticari bilgi ve know-how&amp;a y&ouml;nelik t&uuml;m hakları saklıdır.&nbsp;<br /> * 10.2. S&ouml;zleşme Değişiklikleri AnatoliaGame, tamamen kendi takdirine bağlı ve tek<br /> taraflı olarak, işbu Kullanıcı S&ouml;zleşmesi&amp;ni, uygun g&ouml;receği herhangi bir zamanda, Site&amp;de<br /> ilan etmek suretiyle değiştirebilir. İşbu Kullanıcı S&ouml;zleşmesi&amp;nin değişen h&uuml;k&uuml;mleri, ilan<br /> edildikleri tarihte ge&ccedil;erlilik kazanacak geri kalan h&uuml;k&uuml;mler, aynen y&uuml;r&uuml;rl&uuml;kte kalarak<br /> h&uuml;k&uuml;m ve sonu&ccedil;larını doğurmaya devam edecektir. İşbu Kullanıcı S&ouml;zleşmesi,<br /> Kullanıcı&amp;nın tek taraflı beyanları ile değiştirilemez.&nbsp;<br /> * 10.3. M&uuml;cbir Sebepler Hukuken &amp;m&uuml;cbir sebep&amp; sayılan t&uuml;m hallerde, AnatoliaGame,<br /> işbu Kullanıcı S&ouml;zleşmesi ile belirlenen y&uuml;k&uuml;ml&uuml;l&uuml;klerinden herhangi birini ge&ccedil; veya<br /> eksik ifa etme veya ifa etmeme nedeniyle y&uuml;k&uuml;ml&uuml; değildir. Bu ve bunun gibi durumlar,<br /> AnatoliaGame i&ccedil;in, gecikme, eksik ifa etme veya ifa etmeme veya temerr&uuml;t<br /> addedilmeyecek veya bu durumlar i&ccedil;in AnatoliaGame&rsquo;den herhangi bir nam altında<br /> tazminat talep edilemeyecektir. &amp;quot;M&uuml;cbir sebep&amp;quot; terimi, doğal afet, isyan, savaş, grev,<br /> iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve k&ouml;t&uuml; hava koşulları da<br /> dahil ve fakat bunlarla sınırlı olmamak kaydıyla, ilgili tarafın makul kontrol&uuml; haricinde ve<br /> gerekli &ouml;zeni g&ouml;stermesine rağmen &ouml;nleyemediği, ka&ccedil;ınılamayacak olaylar olarak<br /> yorumlanacaktır.&nbsp;<br /> * 10.4. Uygulanacak Hukuk ve Yetki İşbu Kullanıcı S&ouml;zleşmesi&amp;nin uygulanmasında,<br /> yorumlanmasında ve h&uuml;k&uuml;mleri dahilinde doğan hukuki ilişkilerin y&ouml;netiminde T&uuml;rk<br /> Hukuku uygulanacaktır. İşbu Kullanıcı S&ouml;zleşmesi&amp;nden doğan veya doğabilecek her<br /> t&uuml;rl&uuml; ihtilafın hallinde, İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.&nbsp;<br /> * 10.5. S&ouml;zleşmenin Feshi İşbu Kullanıcı S&ouml;zleşmesi, Kullanıcı Site&amp;ye &uuml;ye olduğu s&uuml;rece<br /> y&uuml;r&uuml;rl&uuml;kte kalacak ve taraflar arası h&uuml;k&uuml;m ve sonu&ccedil;larını doğurmaya devam edecek<br /> Kullanıcı&amp;nın &uuml;yelik s&uuml;resinin dolması veya ge&ccedil;ici veya kalıcı olarak &uuml;yeliğinin<br /> durdurulması hallerinde sona ermiş sayılacaktır. AnatoliaGame, Kullanıcı&amp;ların işbu<br /> Kullanıcı S&ouml;zleşmesi&amp;ni ve/veya, Site i&ccedil;inde yer alan kullanıma, &uuml;yeliğe ve Hizmet&amp;lere<br /> ilişkin benzeri kuralları ihlal etmeleri durumunda ve &ouml;zellikle aşağıda sayılan hallerde,<br /> s&ouml;zleşmeyi tek taraflı olarak feshedebilecek ve Kullanıcı&amp;lar, fesih sebebiyle,<br /> AnatoliaGame&rsquo;in uğradığı t&uuml;m zararları tazmin etmekle y&uuml;k&uuml;ml&uuml; olacaktır:<br /> a) Kullanıcı&amp;nın, herhangi bir y&ouml;ntem kullanarak, Site&amp;nin işleyişini zarara sokacak<br /> davranışlarda bulunması,<br /> b) Kullanıcı&amp;nın kendisi i&ccedil;in oluşturulmuş &uuml;yelik hesabını baskasına kullandırması<br /> c) Kullanıcı&amp;nın &uuml;&ccedil;&uuml;nc&uuml; kişilerin haklarına tecav&uuml;z eden ve/veya etme tehlikesi bulunan<br /> fillerde bulunması,<br /> &nbsp;<br /> 11. S&Ouml;ZLEŞME EKLERİ EK-1 GİZLİLİK POLİTİKASI&nbsp;<br /> &nbsp;</p> <p>AnatoliaGame olarak, kayıtlı kullanıcılarımıza daha g&uuml;venli bir internet ortamı sağlamayı<br /> ilke edindik. Bu sebepten dolayı, &uuml;yelerimizin kendilerini daha rahat hissetmeleri i&ccedil;in<br /> onlara &ccedil;eşitli gizlilik hakları tanıdık.<br /> ** a) AnatoliaGame&rsquo;e verdiğiniz &uuml;yelik bilgileri ve kişisel bilgiler, onayınız dışında,<br /> Kullanıcı S&ouml;zleşmesi&amp;nde tanımlanan haller haricinde, diğer &uuml;yelere ve &uuml;&ccedil;&uuml;nc&uuml; kişilere<br /> a&ccedil;ılmayacaktır. Ancak bu bilgiler, AnatoliaGame sitesinin kendi b&uuml;nyesinde, m&uuml;şteri<br /> profili belirlemek ve istatistiksel &ccedil;alışmalar yapmak amacıyla kullanılabilecektir.<br /> ** b Sisteme girdiğiniz t&uuml;m bilgilere, AnatoliaGame dışında sadece siz ulaşabilir ve<br /> bunları sadece siz değiştirebilirsiniz. Bir başka &uuml;yenin veya Kullanıcı&amp;nın, sizinle ilgili<br /> bilgilere ulaşması ve bunları değiştirmesi m&uuml;mk&uuml;n değildir.&nbsp;<br /> ** c Kayıt esnasında sizden istenen kişisel bilgilerden, zorunlu olanlar hari&ccedil;, istediklerinizi<br /> kendi inisiyatifiniz dahilinde AnatoliaGame&rsquo;e bildirebilirsiniz. AnatoliaGame&rsquo;e vermeyi<br /> tercih etmeyeceğiniz bilgiler varsa, bu alanları doldurmak veya işaretlemek zorunda<br /> değilsiniz.&nbsp;<br /> ** d Sizler i&ccedil;in yapılandırdığımız ip sabitleme ve giriş ipsi tutma gibi işlemler<br /> unutmayınızki AnatoliaGame siz değerli m&uuml;şterilerinin g&uuml;venle alışveriş yapmasını<br /> sağlamaya y&ouml;neliktir. AnatoliaGame gerektiğinde bu s&ouml;zleşmedeki maddeleri değiştirme<br /> hakkını saklı tutar. İşbu s&ouml;zleşmeden kaynaklanacak olan her t&uuml;rl&uuml; uyuşmazlığın<br /> &ccedil;&ouml;z&uuml;m&uuml;nde&nbsp;<br /> İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.</p>")
                            </div>
                            <div class="row" style="margin-top: 25px; justify-content: center;">
                                <a class="nav-link" data-toggle="tab" href="#register-tab" role="tab" onclick="goregister()">Onaylıyorum</a>
                            </div>
                            <div class="modal-close">Kapat</div>
                        </div>
                    </div>
                    <!-- ./Terms -->
                    <!-- Forgot-pw -->
                    <div class="tab-pane fade terms-link" id="forgot-pw-tab" role="tabpanel">
                        <!--Body-->
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <label class="label-white" data-error="wrong" data-success="right"
                                               for="current-email">
                                            Email
                                        </label>
                                        <input type="email" class="form-control validate" id="forgot-email"
                                               placeholder="Email" required />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col-12">
                                        <button class="button btn-blue w-100" id="forgot-password">
                                            GÖNDER
                                        </button>
                                        <span class="forgotPW-fail" style="color: white"></span>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-close">Kapat</div>
                        </div>
                    </div>
                    <!-- ./Forgot-pw -->
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div class="modal fade adversimentterm" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <ul class="nav nav-tabs row" id="login-tabs" role="tablist">
                    <li class="nav-item col terms-link">
                        <a class="nav-link active" data-toggle="tab" href="#terms-tab" role="tab">Kullanım Koşulları</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active terms-link" id="terms-tab" role="tabpanel">
                        <!--Body-->
                        <div class="modal-body">
                            <div class="terms-container">
                                @Html.Raw("<p>Bu s&ouml;zleşme, sitemizdeki hizmetlerden faydalanabilmeniz i&ccedil;in gerekli kuralları i&ccedil;ermektedir.<br /> &nbsp;<br /> SİTEMİZE &Uuml;YE OLARAK, KULLANICI S&Ouml;ZLEŞMESİ&amp;Nİ OKUDUĞUNUZU, İ&Ccedil;ERİĞİNİ<br /> ANLADIĞINIZI VE H&Uuml;K&Uuml;MLERİNİ KABUL ETTİĞİNİZİ VE ONAYLADIĞINIZI KABUL,<br /> BEYAN ETMİŞ OLUYORSUNUZ.<br /> &nbsp;<br /> 1. Taraflar İşbu s&ouml;zleşme ve s&ouml;zleşmeyle atıfta bulunulan ve s&ouml;zleşmenin ayrılmaz birer<br /> par&ccedil;ası olan belgelerden ve eklerden EK-1 Gizlilik Politikası oluşan işbu AnatoliaGame<br /> Kullanıcı S&ouml;zleşmesi bundan b&ouml;yle &amp;Kullanıcı S&ouml;zleşmesi&amp; olarak anılacaktır,<br /> AnatoliaGame ile Site&amp;ye &uuml;ye olan Kullanıcı arasında, Kullanıcı&amp;nın Site&amp;ye &uuml;ye olması<br /> amacıyla ve s&ouml;zleşmenin, ilgili Site&amp;nin bulunduğu elektronik ortamda, Kullanıcı<br /> tarafından onaylanması anında d&uuml;zenlenmiştir. Kullanıcı, Site&amp;ye &uuml;ye olarak, Kullanıcı<br /> S&ouml;zleşmesi&amp;nin tamamını okuduğunu, i&ccedil;eriğini b&uuml;t&uuml;n&uuml; ile anladığını ve t&uuml;m h&uuml;k&uuml;mlerini<br /> onayladığını kabul, beyan ve taahh&uuml;t eder.<br /> &nbsp;<br /> 2. Tanımlar Kullanıcı:Site&amp;ye &uuml;ye olan ve Site&amp;de sunulan Hizmet&amp;lerden, işbu s&ouml;zleşmede<br /> belirtilen koşullar dahilinde yararlanan ger&ccedil;ek veya t&uuml;zel kişi Site: www.<br /> anatoliagame.com isimli alan adından ve bu alan adına bağlı alt alan adlarından oluşan<br /> web sitesi AnatoliaGame tarafından, Site i&ccedil;erisinde ortaya konulan &uuml;r&uuml;nler&nbsp;<br /> &nbsp;<br /> 3. S&ouml;zleşmenin Konusu ve Kapsamı Kullanıcı S&ouml;zleşmesi&amp;nin konusu, Site&amp;de sunulan<br /> Hizmet&amp;lerin, bu Hizmet&amp;lerden yararlanma şartlarının ve tarafların hak ve<br /> y&uuml;k&uuml;ml&uuml;l&uuml;klerinin tespitidir. Kullanıcı S&ouml;zleşmesi&amp;nin kapsamı, işbu s&ouml;zleşme ve ekleri ile<br /> Site i&ccedil;erisinde yer alan, kullanıma, &uuml;yeliğe ve Hizmet&amp;lere ilişkin olarak AnatoliaGame<br /> tarafından yapılmış olan bilc&uuml;mle uyarı, yazı ve a&ccedil;ıklama gibi beyanlardır. Kullanıcı,<br /> Kullanıcı S&ouml;zleşmesi&amp;nin h&uuml;k&uuml;mlerini kabul etmekle, Site i&ccedil;inde yer alan, kullanıma,<br /> &uuml;yeliğe ve Hizmet&amp;lere ilişkin olarak AnatoliaGame tarafından a&ccedil;ıklanan her t&uuml;rl&uuml; beyanı<br /> da kabul etmiş olmaktadır. Kullanıcı, bahsi ge&ccedil;en beyanlarda belirtilen her t&uuml;rl&uuml; hususa<br /> uygun olarak davranacağını kabul, beyan ve taahh&uuml;t eder.<br /> &nbsp;<br /> 4. &Uuml;yelik ve Hizmet Kullanımı Şartları a &Uuml;yelik, Site&amp;nin ilgili b&ouml;l&uuml;m&uuml;nden, Kullanıcı olmak<br /> isteyen kişi tarafından Site&amp;ye &uuml;ye olmak i&ccedil;in gerekli kimlik bilgilerinin g&ouml;nderilmesi<br /> suretiyle kayıt işleminin yaptırılması ve AnatoliaGame tarafından kayıt işleminin<br /> onaylanması ile tamamlanır. &Uuml;yelik işlemi tamamlanmadan, işbu s&ouml;zleşmede tanımlanan<br /> Kullanıcı olma hak ve yetkisine sahip olunamaz. Site&amp;ye &uuml;ye olabilmek i&ccedil;in,reşit olmak ve<br /> işbu s&ouml;zleşmenin 5.2 maddesi uyarınca , AnatoliaGame tarafından, ge&ccedil;ici olarak<br /> &uuml;yelikten uzaklaştırılmış veya &uuml;yelikten s&uuml;resiz yasaklanmış olmamak gerekmektedir.<br /> Reşit olmayan veya yukarıda belirtildiği gibi, işbu s&ouml;zleşmenin 5.2 maddesi uyarınca,<br /> AnatoliaGame tarafından ge&ccedil;ici olarak &uuml;yelikten uzaklaştırılmış veya &uuml;yelikten s&uuml;resiz<br /> yasaklanmış olan kişilerin Site kayıt işlemlerini tamamlamış olmaları, Site &uuml;yesi olmaları<br /> sonucunu doğurmayacaktır.&nbsp;<br /> &nbsp;<br /> 5. Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kler&nbsp;<br /> &nbsp;<br /> *5.1. Kullanıcı&amp;nın Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri<br /> &nbsp;<br /> ** a Kullanıcı, &uuml;yelik prosed&uuml;rlerini yerine getirirken, Site&amp;nin Hizmet&amp;lerinden<br /> faydalanırken ve Site&amp;deki Hizmet&amp;lerle ilgili herhangi bir işlemi yerine getirirken, Kullanıcı<br /> S&ouml;zleşmesi&amp;nde yer alan t&uuml;m şartlara, Site&amp;nin ilgili yerlerinde belirtilen kurallara ve<br /> y&uuml;r&uuml;rl&uuml;kteki t&uuml;m mevzuata uygun hareket edeceğini, yukarıda belirtilen t&uuml;m şart ve<br /> kuralları anladığını ve onayladığını kabul, beyan ve taahh&uuml;t eder.&nbsp;</p> <p>** b Kullanıcı,y&uuml;r&uuml;rl&uuml;kteki emredici mevzuat h&uuml;k&uuml;mleri gereğince veya diğer Kullanıcılar<br /> ile &uuml;&ccedil;&uuml;nc&uuml; şahısların haklarının ihlal edildiğinin iddia edilmesi durumlarında,<br /> AnatoliaGame&rsquo;in kendisine ait gizli/&ouml;zel/ticari bilgileri gerek resmi makamlara ve gerekse<br /> hak sahibi kişilere a&ccedil;ıklamaya yetkili olacağını ve bu sebeple AnatoliaGame&rsquo;den her ne<br /> nam altında olursa olsun tazminat talep edilemeyeceğini kabul, beyan ve taahh&uuml;t eder.&nbsp;<br /> ** c Kullanıcı&amp;ların AnatoliaGame tarafından sunulan Hizmet&amp;lerden yararlanabilmek<br /> amacıyla kullandıkları sisteme erişim ara&ccedil;larının Kullanıcı ismi, şifre v.b. g&uuml;venliği,<br /> saklanması, &uuml;&ccedil;&uuml;nc&uuml; kişilerin bilgisinden uzak tutulması ve kullanılması durumlarıyla ilgili<br /> hususlar tamamen Kullanıcı&amp;ların sorumluluğundadır. Kullanıcı&amp;ların, sisteme giriş<br /> ara&ccedil;larının g&uuml;venliği, saklanması, &uuml;&ccedil;&uuml;nc&uuml; kişilerin bilgisinden uzak tutulması,<br /> kullanılması gibi hususlardaki t&uuml;m ihmal ve kusurlarından dolayı Kullanıcı&amp;ların ve/veya<br /> &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradığı veya uğrayabileceği zararlara istinaden AnatoliaGame&rsquo;in,<br /> doğrudan veya dolaylı, herhangi bir sorumluluğu yoktur.<br /> ** d Kullanıcı&amp;lar, Site dahilinde kendileri tarafından sağlanan bilgi ve i&ccedil;eriklerin doğru ve<br /> hukuka uygun olduğunu kabul, beyan ve taahh&uuml;t ederler. AnatoliaGame, Kullanıcı&amp;lar<br /> tarafından AnatoliaGame&rsquo;e iletilen veya Site &uuml;zerinden kendileri tarafından y&uuml;klenen,<br /> değiştirilen veya sağlanan bilgi ve i&ccedil;eriklerin doğruluğunu araştırma, bu bilgi ve i&ccedil;eriklerin<br /> g&uuml;venli, doğru ve hukuka uygun olduğunu taahh&uuml;t ve garanti etmekle y&uuml;k&uuml;ml&uuml; ve<br /> sorumlu olmadığı gibi, s&ouml;z konusu bilgi ve i&ccedil;eriklerin yanlış veya hatalı olmasından dolayı<br /> ortaya &ccedil;ıkacak hi&ccedil;bir zarardan da sorumlu tutulamaz.<br /> **e Kullanıcı&amp;lar, AnatoliaGame&rsquo;in yazılı onayı olmadan, Kullanıcı S&ouml;zleşmesi<br /> kapsamındaki hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerini, kısmen veya tamamen, herhangi bir &uuml;&ccedil;&uuml;nc&uuml;<br /> kişiye devredemezler.<br /> ** f AnatoliaGame&rsquo;in sunduğu Hizmet&amp;lerden yararlananlar ve Site&amp;yi kullananlar, yalnızca<br /> hukuka uygun ama&ccedil;larla Site &uuml;zerinde işlem yapabilirler. Kullanıcı&amp;ların, Site dahilinde<br /> yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir. Her<br /> Kullanıcı, AnatoliaGame ve/veya başka bir &uuml;&ccedil;&uuml;nc&uuml; şahsın ayni veya şahsi haklarına veya<br /> malvarlığına tecav&uuml;z teşkil edecek şekilde, Site dahilinde bulunan resimleri, metinleri,<br /> g&ouml;rsel ve işitsel imgeleri, video kliplerini, dosyaları, veritabanlarını, katalogları ve listeleri<br /> &ccedil;oğaltmayacağını, kopyalamayacağını, dağıtmayacağını, işlemeyeceğini, gerek bu<br /> eylemleri ile gerekse de başka yollarla AnatoliaGame ile doğrudan ve/veya dolaylı olarak<br /> rekabete girmeyeceğini kabul, beyan ve taahh&uuml;t eder. AnatoliaGame, Kullanıcı&amp;ların<br /> Kullanıcı S&ouml;zleşmesi h&uuml;k&uuml;mlerine ve/veya hukuka aykırı olarak Site &uuml;zerinde<br /> ger&ccedil;ekleştirdikleri faaliyetler nedeniyle &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradıkları veya uğrayabilecekleri<br /> zararlardan doğrudan ve/veya dolaylı olarak, hi&ccedil;bir şekilde sorumlu tutulamaz.&nbsp;<br /> &nbsp;<br /> *5.2. AnatoliaGame&rsquo;in Hak ve Y&uuml;k&uuml;ml&uuml;l&uuml;kleri<br /> &nbsp;<br /> ** a AnatoliaGame, Site&amp;de sunulan Hizmet&amp;leri ve i&ccedil;erikleri her zaman değiştirebilme<br /> hakkını saklı tutmaktadır. AnatoliaGame, bu hakkını, hi&ccedil;bir bildirimde bulunmadan ve<br /> &ouml;nel vermeden kullanabilir.<br /> ** b AnatoliaGame ,Site &uuml;zerinden, başkaca &uuml;&ccedil;&uuml;nc&uuml; kişilerin sahip olduğu ve işlettiği<br /> başka web sitelerine ve/veya portallara, dosyalara veya i&ccedil;eriklere &amp;link&amp; verebilir. Bu<br /> &amp;link&amp;ler, Kullanıcı&amp;lar a sadece referans kolaylığı nedeniyle AnatoliaGame tarafından<br /> sağlanmış olabilir ve web sitesini veya siteyi işleten kişiyi desteklemek amacı veya web<br /> sitesi veya i&ccedil;erdiği bilgilere y&ouml;nelik herhangi bir t&uuml;rde bir beyan veya garanti niteliği<br /> taşımamaktadır. Site &uuml;zerindeki &amp;link&amp;ler vasıtasıyla erişilen portallar, web siteleri,<br /> dosyalar ve i&ccedil;erikler, bu &amp;link&amp;ler vasıtasıyla erişilen portallar veya web sitelerinden<br /> sunulan hizmetler veya &uuml;r&uuml;nler veya bunların i&ccedil;eriği hakkında AnatoliaGame&rsquo;in herhangi<br /> bir sorumluluğu yoktur.&nbsp;<br /> ** c AnatoliaGame, Site&amp;de yer alan Kullanıcı bilgilerini veya &uuml;yeliğe ilişkin Kullanıcı<br /> bilgilerini, Kullanıcı g&uuml;venliği, kendi y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; ifa ve bazı istatistiki değerlendirmeler</p> <p>i&ccedil;in dilediği bi&ccedil;imde kullanabilir. Bunları bir veritabanı &uuml;zerinde tasnif edip muhafaza<br /> edebilir.&nbsp;<br /> ** d AnatoliaGame , Site&amp;de sağlanan Hizmet&amp;ler kapsamında Kullanıcı&amp;lar ve &uuml;reticiler<br /> arasında ortaya &ccedil;ıkan uyuşmazlıklarda, arabulucu veya hakem sıfatlarıyla g&ouml;rev almaz. e<br /> Kullanıcı&amp;lar ve AnatoliaGame hukuken bağımsız taraflardır. Aralarında ortaklık,<br /> temsilcilik veya iş&ccedil;i-işveren ilişkisi yoktur. Kullanıcı S&ouml;zleşmesi&amp;nin onaylanması ve<br /> uygulanması sonucunda, ortaklık, temsilcilik veya iş&ccedil;i-işveren ilişkisi doğmaz.<br /> **e Site&rsquo;deki &uuml;r&uuml;nlerin fiyatlarındaki tipografik hatalardan AnatoliaGame sorumlu değildir.<br /> **f AnatoliaGame&rsquo;de satılan t&uuml;m &uuml;r&uuml;nlerde anlık fiyat değişiklikleri olabilir b&ouml;yle bir<br /> durumda kullanıcı i&ccedil;in ge&ccedil;erli olacak fiyat &ouml;deme yaptığı andaki değil sipariş verdiği<br /> andaki yazan fiyat ge&ccedil;erlidir.<br /> &nbsp;<br /> 6. Yapılan &Ouml;demeler ve Para İadesi Kullanıcılar &ouml;demelerden sonra Banka Dekontları,<br /> Bankamatik fişleri gibi belgeleri saklamakla y&uuml;k&uuml;ml&uuml;d&uuml;r. Gerekli g&ouml;r&uuml;lmesi halinde<br /> sizden talep edilecektir. İbraz edilememesi gibi durumlarda AnatoliaGame yapılan<br /> &ouml;demelerle ilgili sorumlu değildir. &Ouml;demelerde yazacağınız a&ccedil;ıklamalar sayesinde<br /> &ouml;demeleriniz hesaplarınıza işlenecektir. Ancak a&ccedil;ıklamaların eksik yanlış girilmesi<br /> sonucunda oluşacak zararlarda AnatoliaGame mesul değildir. Kullanıcının siteye yaptığı<br /> ilk &ouml;demesinde &ouml;demenin onay alabilmesi i&ccedil;in &nbsp;g&uuml;venlik amacıyla AnatoliaGame<br /> kullanıcıdan &ouml;deme dekontu yanında &nbsp;&ouml;deme yapan kişiye ait kimlik resmi , ehliyet resmi,<br /> adına kayıtlı fatura gibi belgeleri isteme hakkına sahiptir.Kullanıcılar sitede bulunan<br /> bakiyelerini banka hesaplarına iade alabilme şartları ;<br /> &nbsp;<br /> Banka yolu &nbsp;havale ,eft , şube i&ccedil;i &ouml;deme , mobil &ouml;deme , atm kartsız işlem ile &ouml;deme bu<br /> yollarla y&uuml;klenen bakiyelerin iadeleri sadece &ouml;deme yapan kişi adına kayıtlı bir banka<br /> hesabına yapılabilmektedir aksi m&uuml;mk&uuml;n değildir.<br /> Sitede &nbsp;oyun parası , oyun i&ccedil;i eşya satışları ile kazanılan bakiyelerin istenilen bir banka<br /> hesabına &ccedil;ekilmesi m&uuml;mk&uuml;nd&uuml;r.<br /> Bakiye iade işlemlerinde kesilecek &uuml;cret :Sitede para &ccedil;ekme sayfasında AnatoliaGame<br /> tarafından belirlenen &uuml;cretin &ccedil;ekilen tutardan kesileceğini kullanıcı kabul etmiş sayılır.<br /> &nbsp;<br /> &nbsp;<br /> 7. Teslimat S&uuml;releri Stoklarda sorun olması halinde ya da g&uuml;n i&ccedil;ersinde hızlı satışlar<br /> sonunda stokların t&uuml;kenmesi durumunda paranız kredinizde AnatoliaGame tarafından<br /> tutulmakta ancak istendiğinde geri iade edilebilmektedir.&nbsp;<br /> &nbsp;<br /> 8. Oyun Kodlarının Hatalı ve illagal şeklide Kullanımı veya Teslim Edilen Oyun Paraları&nbsp;<br /> a Teslim edilen kodların hatalı olarak kullanılması durumunda AnatoliaGame yeni kod<br /> yollamakla y&uuml;k&uuml;ml&uuml; değildir.&nbsp;<br /> b Oyun Parası Siparişlerinizde Ulaşabilecek T&uuml;m Hatalardan AnatoliaGame sorumlu<br /> değildir.&nbsp;<br /> c AnatoliaGame&rsquo;de satılan epin kodlarının oyundaki karşılıklarında &nbsp;oyun firmalarının<br /> yaptığı değişiklikler nedeni ile farklı değer y&uuml;klenir ise AnatoliaGame&rsquo;in bu konuda<br /> herhangi bir sorumluluğu olmayacaktır.<br /> d Teslim edilen kodların AnatoliaGame&rsquo;e iadesi m&uuml;mk&uuml;n değildir<br /> &nbsp;<br /> 9. Gizlilik Politikası AnatoliaGame, Kullanıcı&amp;lara ilişkin bilgileri, işbu s&ouml;zleşmenin EK-1<br /> Gizlilik Politikası b&ouml;l&uuml;m&uuml;ndeki d&uuml;zenlemelere uygun olarak kullanabilir. AnatoliaGame,<br /> Kullanıcı&amp;lara ait gizli bilgileri, Kullanıcı S&ouml;zleşmesi&amp;nde aksine m&uuml;sade edilen durumlar<br /> haricinde, &uuml;&ccedil;&uuml;nc&uuml; kişi ve kurumlara kullandırılmaz.&nbsp;<br /> &nbsp;<br /> 10. Diğer H&uuml;k&uuml;mler&nbsp;</p> <p>* 10.1. Fikri M&uuml;lkiyet Hakları a Site&amp;nin tasarım, metin, imge, html kodu ve diğer kodlar da<br /> dahil ve fakat bunlarla sınırlı olmamak kaydıyla t&uuml;m elemanları AnatoliaGame&rsquo;in telif<br /> haklarına tabi &ccedil;alışmalar AnatoliaGame Ltd&amp;e ait olarak ve/veya AnatoliaGame tarafından<br /> &uuml;&ccedil;&uuml;nc&uuml; bir kişiden alınan lisans hakkı altında kullanılmaktadır. Kullanıcı&amp;lar,<br /> AnatoliaGame Hizmet&amp;lerini, AnatoliaGame bilgilerini ve AnatoliaGame &amp;in telif haklarına<br /> tabi &ccedil;alışmalarını yeniden satamaz, paylaşamaz, dağıtamaz, sergileyemez, &ccedil;oğaltamaz,<br /> bunlardan t&uuml;remiş &ccedil;alışmalar yapamaz veya hazırlayamaz, veya başkasının<br /> AnatoliaGame&amp;in Hizmet&amp;lerine erişmesine veya kullanmasına izin veremez aksi takdirde,<br /> lisans verenler de dahil ancak bunlarla sınırlı olmaksızın, &uuml;&ccedil;&uuml;nc&uuml; kişilerin uğradıkları<br /> zararlardan dolayı AnatoliaGame&rsquo;den talep edilen tazminat miktarını ve mahkeme<br /> masrafları ve avukatlık &uuml;creti de dahil ancak bununla sınırlı olmamak &uuml;zere diğer her<br /> t&uuml;rl&uuml; y&uuml;k&uuml;ml&uuml;l&uuml;kleri karşılamakla sorumlu olacaklardır. AnatoliaGame&rsquo;in, AnatoliaGame<br /> Hizmet&amp;leri, Forlife Online Ltd bilgileri, AnatoliaGame telif haklarına tabi &ccedil;alışmalar,<br /> AnatoliaGame ticari markaları, AnatoliaGame ticari g&ouml;r&uuml;n&uuml;m&uuml; veya Site vasıtasıyla sahip<br /> olduğu her t&uuml;r maddi ve fikri m&uuml;lkiyet hakları da dahil t&uuml;m malvarlığı, ayni ve şahsi<br /> hakları, ticari bilgi ve know-how&amp;a y&ouml;nelik t&uuml;m hakları saklıdır.&nbsp;<br /> * 10.2. S&ouml;zleşme Değişiklikleri AnatoliaGame, tamamen kendi takdirine bağlı ve tek<br /> taraflı olarak, işbu Kullanıcı S&ouml;zleşmesi&amp;ni, uygun g&ouml;receği herhangi bir zamanda, Site&amp;de<br /> ilan etmek suretiyle değiştirebilir. İşbu Kullanıcı S&ouml;zleşmesi&amp;nin değişen h&uuml;k&uuml;mleri, ilan<br /> edildikleri tarihte ge&ccedil;erlilik kazanacak geri kalan h&uuml;k&uuml;mler, aynen y&uuml;r&uuml;rl&uuml;kte kalarak<br /> h&uuml;k&uuml;m ve sonu&ccedil;larını doğurmaya devam edecektir. İşbu Kullanıcı S&ouml;zleşmesi,<br /> Kullanıcı&amp;nın tek taraflı beyanları ile değiştirilemez.&nbsp;<br /> * 10.3. M&uuml;cbir Sebepler Hukuken &amp;m&uuml;cbir sebep&amp; sayılan t&uuml;m hallerde, AnatoliaGame,<br /> işbu Kullanıcı S&ouml;zleşmesi ile belirlenen y&uuml;k&uuml;ml&uuml;l&uuml;klerinden herhangi birini ge&ccedil; veya<br /> eksik ifa etme veya ifa etmeme nedeniyle y&uuml;k&uuml;ml&uuml; değildir. Bu ve bunun gibi durumlar,<br /> AnatoliaGame i&ccedil;in, gecikme, eksik ifa etme veya ifa etmeme veya temerr&uuml;t<br /> addedilmeyecek veya bu durumlar i&ccedil;in AnatoliaGame&rsquo;den herhangi bir nam altında<br /> tazminat talep edilemeyecektir. &amp;quot;M&uuml;cbir sebep&amp;quot; terimi, doğal afet, isyan, savaş, grev,<br /> iletişim sorunları, altyapı ve internet arızaları, elektrik kesintisi ve k&ouml;t&uuml; hava koşulları da<br /> dahil ve fakat bunlarla sınırlı olmamak kaydıyla, ilgili tarafın makul kontrol&uuml; haricinde ve<br /> gerekli &ouml;zeni g&ouml;stermesine rağmen &ouml;nleyemediği, ka&ccedil;ınılamayacak olaylar olarak<br /> yorumlanacaktır.&nbsp;<br /> * 10.4. Uygulanacak Hukuk ve Yetki İşbu Kullanıcı S&ouml;zleşmesi&amp;nin uygulanmasında,<br /> yorumlanmasında ve h&uuml;k&uuml;mleri dahilinde doğan hukuki ilişkilerin y&ouml;netiminde T&uuml;rk<br /> Hukuku uygulanacaktır. İşbu Kullanıcı S&ouml;zleşmesi&amp;nden doğan veya doğabilecek her<br /> t&uuml;rl&uuml; ihtilafın hallinde, İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.&nbsp;<br /> * 10.5. S&ouml;zleşmenin Feshi İşbu Kullanıcı S&ouml;zleşmesi, Kullanıcı Site&amp;ye &uuml;ye olduğu s&uuml;rece<br /> y&uuml;r&uuml;rl&uuml;kte kalacak ve taraflar arası h&uuml;k&uuml;m ve sonu&ccedil;larını doğurmaya devam edecek<br /> Kullanıcı&amp;nın &uuml;yelik s&uuml;resinin dolması veya ge&ccedil;ici veya kalıcı olarak &uuml;yeliğinin<br /> durdurulması hallerinde sona ermiş sayılacaktır. AnatoliaGame, Kullanıcı&amp;ların işbu<br /> Kullanıcı S&ouml;zleşmesi&amp;ni ve/veya, Site i&ccedil;inde yer alan kullanıma, &uuml;yeliğe ve Hizmet&amp;lere<br /> ilişkin benzeri kuralları ihlal etmeleri durumunda ve &ouml;zellikle aşağıda sayılan hallerde,<br /> s&ouml;zleşmeyi tek taraflı olarak feshedebilecek ve Kullanıcı&amp;lar, fesih sebebiyle,<br /> AnatoliaGame&rsquo;in uğradığı t&uuml;m zararları tazmin etmekle y&uuml;k&uuml;ml&uuml; olacaktır:<br /> a) Kullanıcı&amp;nın, herhangi bir y&ouml;ntem kullanarak, Site&amp;nin işleyişini zarara sokacak<br /> davranışlarda bulunması,<br /> b) Kullanıcı&amp;nın kendisi i&ccedil;in oluşturulmuş &uuml;yelik hesabını baskasına kullandırması<br /> c) Kullanıcı&amp;nın &uuml;&ccedil;&uuml;nc&uuml; kişilerin haklarına tecav&uuml;z eden ve/veya etme tehlikesi bulunan<br /> fillerde bulunması,<br /> &nbsp;<br /> 11. S&Ouml;ZLEŞME EKLERİ EK-1 GİZLİLİK POLİTİKASI&nbsp;<br /> &nbsp;</p> <p>AnatoliaGame olarak, kayıtlı kullanıcılarımıza daha g&uuml;venli bir internet ortamı sağlamayı<br /> ilke edindik. Bu sebepten dolayı, &uuml;yelerimizin kendilerini daha rahat hissetmeleri i&ccedil;in<br /> onlara &ccedil;eşitli gizlilik hakları tanıdık.<br /> ** a) AnatoliaGame&rsquo;e verdiğiniz &uuml;yelik bilgileri ve kişisel bilgiler, onayınız dışında,<br /> Kullanıcı S&ouml;zleşmesi&amp;nde tanımlanan haller haricinde, diğer &uuml;yelere ve &uuml;&ccedil;&uuml;nc&uuml; kişilere<br /> a&ccedil;ılmayacaktır. Ancak bu bilgiler, AnatoliaGame sitesinin kendi b&uuml;nyesinde, m&uuml;şteri<br /> profili belirlemek ve istatistiksel &ccedil;alışmalar yapmak amacıyla kullanılabilecektir.<br /> ** b Sisteme girdiğiniz t&uuml;m bilgilere, AnatoliaGame dışında sadece siz ulaşabilir ve<br /> bunları sadece siz değiştirebilirsiniz. Bir başka &uuml;yenin veya Kullanıcı&amp;nın, sizinle ilgili<br /> bilgilere ulaşması ve bunları değiştirmesi m&uuml;mk&uuml;n değildir.&nbsp;<br /> ** c Kayıt esnasında sizden istenen kişisel bilgilerden, zorunlu olanlar hari&ccedil;, istediklerinizi<br /> kendi inisiyatifiniz dahilinde AnatoliaGame&rsquo;e bildirebilirsiniz. AnatoliaGame&rsquo;e vermeyi<br /> tercih etmeyeceğiniz bilgiler varsa, bu alanları doldurmak veya işaretlemek zorunda<br /> değilsiniz.&nbsp;<br /> ** d Sizler i&ccedil;in yapılandırdığımız ip sabitleme ve giriş ipsi tutma gibi işlemler<br /> unutmayınızki AnatoliaGame siz değerli m&uuml;şterilerinin g&uuml;venle alışveriş yapmasını<br /> sağlamaya y&ouml;neliktir. AnatoliaGame gerektiğinde bu s&ouml;zleşmedeki maddeleri değiştirme<br /> hakkını saklı tutar. İşbu s&ouml;zleşmeden kaynaklanacak olan her t&uuml;rl&uuml; uyuşmazlığın<br /> &ccedil;&ouml;z&uuml;m&uuml;nde&nbsp;<br /> İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.</p>")
                            </div>
                            <div class="modal-close" onclick="closeadversimentterm()">Kapat</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assest/scripts/app.min.js"></script>
    <script src="~/assest/scripts/additional.js"></script>
    <script>
        $(document).ready(function () {
            $("#login").click(function (e) {
                e.preventDefault();
                var model = {
                    Password: document.getElementById("current-password").value,
                    Email: document.getElementById("currentEmail").value
                }
                $(document.getElementsByClassName("login-fail")[1]).html("");

                $.ajax({
                    type: 'post',
                    url: '/User/Login',
                    content: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: model,
                    beforeSend: function () {
                        showSpinner();
                    },
                    complete: function () {
                        hideSpinner();
                    },
                    success: function (res) {
                        if (res.success) {
                            if (res.data.isSuccess) {
                                location.reload();
                                $('#login-modal').modal('hide');
                            } else {
                                $(document.getElementsByClassName("login-fail")[1]).html(res.data.message);
                            }
                        }
                    },
                    error: function (err) {
                        $(document.getElementsByClassName("login-fail")[1]).html("Bir Hata oluştu");
                    }
                });
            });

            $("#register").click(function (e) {
                e.preventDefault();
                var model = {
                    Password: document.getElementById("user-password").value,
                    Name: document.getElementById("user-name").value,
                    Surname: document.getElementById("user-surname").value,
                    Email: document.getElementById("user-email").value,
                    PhoneNumber: document.getElementById("user-phone").value
                }

                if (!($('#isChecked').is(":checked"))) {
                    $(document.getElementsByClassName("login-fail")[0]).html("*Lütfen Kullanıcı Sözleşmesini Onaylayın");
                    return;
                }

                $.ajax({
                    type: 'post',
                    url: '/User/Register',
                    content: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: model,
                    beforeSend: function () {
                        showSpinner();
                    },
                    complete: function () {
                        hideSpinner();
                    },
                    success: function (res) {
                        if (res.success) {
                            if (res.data.isSuccess) {
                                location.reload();
                            } else {
                                $(document.getElementsByClassName("login-fail")[0]).html("*Seçtiğiniz Mail adresi kullanımda");
                            }
                        }
                    },
                    error: function (err) {
                        $(document.getElementsByClassName("login-fail")[0]).html("Bir Hata oluştu");
                    }
                });
            });

            $("#forgot-password").click(function (e) {
                e.preventDefault();
                var model = {
                    Email: document.getElementById("forgot-email").value
                }

                $.ajax({
                    type: 'post',
                    url: '/User/ForgotPassword',
                    content: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: model,
                    beforeSend: function () {
                        showSpinner();
                    },
                    complete: function () {
                        hideSpinner();
                    },
                    success: function (res) {
                        $(document.getElementsByClassName("forgotPW-fail")[0]).html("Şifreniz yenileme talebiniz  alınmıştır. Lütfen mailinizi kontrol ediniz.");
                    },
                    error: function (err) {
                        $(document.getElementsByClassName("forgotPW-fail")[0]).html("Bir Hata oluştu");
                    }
                });
            });
        });

        function setHeader(user) {
            var items = document.getElementsByClassName("reglog");
            for (var i in items) {
                $(items[i]).css("display", "none");
            }

            var userText = document.getElementsByClassName("profile");
            $(userText[0]).css("display", "block");
            userText[1].innerText = user.fullName;
            userText[1].href = '/user/detail/' + user.userId;

        }

        function showSpinner() {
            $(document.getElementsByClassName("spinner-wrapper")[0]).addClass("ajaxShowLoader");
        }

        function hideSpinner() {
            $(document.getElementsByClassName("spinner-wrapper")[0]).removeClass("ajaxShowLoader");
        }

        function showadversimentterm() {
            $('.adversimentterm').modal('show');
        }

        function closeadversimentterm() {
            $('.adversimentterm').modal('hide');
        }

        function goregister() {
            document.getElementsByClassName("termback")[0].classList.remove("active");
            $(document.getElementById("isChecked"))[0].checked = true;
        }

        setCookies();

        function setCookies() {
           var isAuthenticate = '@PageHelper.IsAuthenticate()';
            if (Cookies.get('bearer') == null && isAuthenticate == "True") {
                var bearer = '@PageHelper.GetBearer()';
                var userId = '@PageHelper.GetUserId()';
                var fullName = '@SessionManager.Instance.GetFullName()';

                Cookies.set('bearer', bearer, { expires: 1 })
                Cookies.set('userId', userId, { expires: 1 })
                Cookies.set('fullName', fullName, { expires: 1 })
            }
        }

    </script>
</body>
</html>